[2016-08-05 03:02] khourybrazil opened #2 "Does MFA in this app work with current versions of Okta?"
The article published [here](https://support.okta.com/help/articles/Knowledge_Article/Integrating-the-Amazon-Web-Services-Command-Line-Interface-Using-Okta) seems to indicate that MFA works but that doesn't seem to be the case in my testing. I get this result every time I try to use it with MFA required in my sign on policy:

`You do not have access to AWS through Okta.
Please contact your adminis

[2016-08-05 18:37] khourybrazil commented on #2
I ran the request through mitmproxy and it looks like this fails when you enforce MFA at the app level. If you enforce MFA at the app level it returns status "SUCCESS" and an attempt to validate the token results in a 302 redirect to https://<company>.okta.com/policy/second-factor which ultimately fails. If you have MFA enforced at the global level it returns status "MFA_REQUIRED" as expected. I'm

[2016-08-05 18:42] raphaellondner-okta commented on #2
What you find is correct: we only support MFA at the organization level, not the app level. That is because we (sadly) don't yet support app-level sign-on policy in our public Policies API. We'd obviously love to support this scenario as well, but have to wait until app policies are exposed through our public API. I have forwarded your comments to product management and also updated this Readme fi

[2016-08-05 18:42] #2 closed

[2016-08-11 02:22] danielcbright opened #3 "Enhancement Request"
I just got this tool working, thanks for putting this up here. I was using a Python based tool we wrote internally that was using `requests`, but doesn't work now that the login page is `JavaScript` enabled. I think the ability to pass in command line arguments, such as profile save name, IdP app url, region, output format (for the credentials file) would be awesome. Just wanted to pass that on.

[2016-08-11 04:26] raphaellondner-okta commented on #3
Hi Daniel, thanks for the nice feedback and thank you even more for the enhancement suggestions! Can you clarify what you mean by "IdP app url"? Also, I assume you are referring to the config file for the region, output arguments and both to the credentials and config file for the profile save name. Is that correct?

[2016-08-11 10:32] danielcbright commented on #3
Hi Raphael,

By IdP App URL I mean the `OKTA_AWS_APP_URL` variable. Currently we can iterate over multiple accounts using a `for` loop if we want and execute some `aws cli` command across multiple accounts. I'd like to avoid having to write a wrapper script to update the `config.properties` file with the new URL each time we iterate, it just makes it cleaner to be able to pass in the same variable

[2016-08-22 17:43] danielcbright opened #4 "Can't seem to run on Windows"
Hi,

I have an issue when trying to run this on a Windows 7 box, here is the error I'm getting:
[code]
I have a feeling it's a syntax error but not sure, help would be appreciated.

[2016-08-22 18:58] raphaellondner-okta commented on #4
Hi Daniel,

Have you tried to use the Windows batch file? https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/master/out/awscli.bat

[2016-10-07 19:09] jbruettcva opened #5 "Null Pointer Exception in Main"
Great tool, little clunky to setup but it works and it's really smooth once you get there.

I am getting an issue, though it's actually working so I'm a bit confused.

Environment:
- Windows 10 Anniversary Edition
- aws-java-sdk-1.11.37
- downloaded the zip file from here last week
- run either in a standard powershell or cmd.exe shell i receive the same error/experience
- followed this article fo

[2016-10-07 19:14] jbruettcva opened #6 "[enahancement] Support for new extended STS SAML timing"
Wondering if there's a timeline in adding the ability to extend the token to 12 hours per the new functionality in AWS?

[2016-10-07 20:20] raphaellondner-okta commented on #5
Hi John,

Thank you for reporting that error to us. Please note that this tool, although it was built by Okta, is community-supported and we accept any pull request about code fixes external developers might have.

I looked at the code and it looks like in your case, the code breaks on [line 493](https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/master/src/main/java/com/okta/tools/aws

[2016-10-07 20:28] raphaellondner-okta commented on #6
Hi John,

As mentioned on this [AWS blog post](http://blogs.aws.amazon.com/security/post/Tx3GL3IZE3FIGB6/Enable-Your-Federated-Users-to-Work-in-the-AWS-Management-Console-for-up-to-12-H) (in one of the comments):

to which the latest comment from the AWS team is:

so I guess at this point, we can't really extend the session length past one hour. Or is there something I misunderstood in your questi

[2016-10-11 18:07] jbruettcva commented on #5
there is no cross account role policy.  My user has access to my account.  That's it, unless I'm missing something.

[2016-10-11 18:08] jbruettcva commented on #6
I've misunderstood the way that AWS builds its services.  I was under the impression that it was API/CLI/SDK first, then pushed to everything else.  Seeing as this is a feature released to the public I would have assumed it was available through the same API that the rest of this tool works with.

[2016-10-11 18:08] #6 closed

[2016-10-11 18:26] raphaellondner-okta commented on #5
Thanks for the feedback. It looks as if our code thinks there is a role policy attached to role1 and role2. I would advise contacting our developer support at developers at okta dot com to troubleshoot this issue, if there is indeed no role policy attached to these roles. If there are role policies attached to these roles, there is probably something that must get fixed in our tool code.

[2016-10-11 19:40] jbruettcva commented on #5
So i was totally wrong, there are two policies on the role that I am selecting.  One is the managed AdministratorAccess delivered by AWS.  Additionally there is a custom policy for VM import/export that is listed below:

{
"Version": "2012-10-17",
"Statement": [
  {
    "Effect": "Allow",
    "Action": [
      "s3:ListAllMyBuckets"
    ],
    "Resource": "*"
  },
  {
    "Effect": "Allow",
    "Ac

[2016-10-11 22:13] johnsmyth commented on #5
I am experiencing the same issue.  I'm not a java programmer, but could it be that it fails when Action is an Array instead of a string?

[2016-10-12 12:47] jbruettcva opened #7 "Tool uses different home directory than AWS sdk/powershell config process"
I believe that the aws sdk and powershell module put their configuration in %home%.aws.  This tool uses the java variable user.home, which returns the windows variable for %userprofile%.

I'm no java developer otherwise I would figure out how to get this working and submit the code changes my self.

[2016-10-12 18:01] jbruettcva commented on #5
I removed one of my policies and i am no longer receiving the error, but rather the expected reporting output about the credentials being created and their timeout information etc.  @johnsmyth was dead on that it's expecting a string and receiving an array and that's the issue.  Like John, I'm no java developer, I'll take a look and see if i can't figure it out.  Hopefully someone that's more vers

[2016-10-13 16:43] raphaellondner-okta commented on #4
Closing this issue as it has been fixed in the awscli.bat file mentioned in the previous comment.

[2016-10-13 16:43] #4 closed

[2016-10-13 23:56] raphaellondner-okta commented on #5
Hi John B. and John S.,

Thanks for getting back to me. I have tested with John B.'s statement and made the tool's code more robust to handle Statement arrays. We still do not handle the case when there are multiple policies (we take the first one we find), neither multiple sts:AssumeRole actions in the same statement (we take the first one we find).

[2016-10-17 13:39] johnsmyth commented on #5
This seems to be working now - Thanks!

[2016-11-11 10:51] maciekm opened #8 "handle more than 1 policy"
Hi, any idea when we can expect it?

https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/4aae908451bef7dac8a9d9ac2a8496339fa3a4df/src/main/java/com/okta/tools/awscli.java#L458

Without it we have to one-to-one map policies to roles.

[2016-11-11 22:50] radekg commented on #3
Partially addressed with https://github.com/oktadeveloper/okta-aws-cli-assume-role/pull/9

[2016-11-11 23:17] radekg opened #10 "Missing license file"
What is the license for this project? Could you please update the repository with the license file?
Thank you.

[2016-11-11 23:17] #10 closed

[2016-11-11 23:18] radekg commented on #10
I'm stupid... ehh. Apologies ;)

[2016-11-15 00:54] joelfranusic-okta opened #11 "Test issue"

[2016-11-29 09:27] raphaellondner-okta commented on #8
@maciekm sorry for the late response. Can you try the latest release in which we've added support for multiple policies? (caveat: only works with single-statement, single-action managed policies, not inline policies).

Let me know if that works for you.

[2016-11-29 09:29] #11 closed

[2016-11-29 09:30] raphaellondner-okta commented on #5
This issue appears to be resolved now, so closing it.

[2016-11-29 09:30] #5 closed

[2016-11-30 07:07] adamdamico opened #16 "Inherit the session duration setting from the SAML sign-on config"
For federated cross-account cases, we can now get sessions longer than 1 hour in the web console (as of 2016.46/47), but this tool is still only handing out 1-hour sessions. It should inherit the setting of the app instance.

[2016-11-30 07:09] adamdamico commented on #16
Just realized there's a closed issue for this same request, but I'm still pretty confused as to why there isn't (or can't be) parity in the functionality.

[2016-12-01 21:42] raphaellondner-okta commented on #16
@adamdamico As mentioned in the previous, closed issue, this is because AWS currently only allows 12hour-long sessions when you log in directly into the AWS Console (and that has nothing to do with the app instance/SAML attribute), but it's not yet available at the API level.

I actually talked with a Product Manager of AWS IAM at AWS re:Invent and she told me AWS is acutely aware of the feature d

[2016-12-01 21:42] #16 closed

[2016-12-02 14:33] liquid-sky opened #17 "Add support Cross-account roles linked to more than one account"
Currently the tool supports only one linked account and doesn't get token when multiple accounts are linked:

[code]

[2016-12-13 09:31] liquid-sky commented on #17
Closing as this functionality has been added.

[2016-12-13 09:31] #17 closed

[2016-12-20 11:09] novocodev opened #21 "Error when assuming role in current organisation"
I am using this tool to assume a role in the same organisation as the user I use to access was via okta, when I run the tool I get an error.

My config looks like:

[code]

When I run the tool I get:

[code]

If I comment out line #119 `GetRoleToAssume(crossAccountRoleName);` in `awscli.java`, then the tool works correctly and generates temporary credentials that allow the aws cli to connect.

The

[2016-12-28 20:28] raphaellondner-okta commented on #21
Sorry for the late feedback and I apologize you've run into some issues. Can you please test with the fix available at https://github.com/oktadeveloper/okta-aws-cli-assume-role/tree/rl-configfile-fix/out?

Just download the oktaawscli.jar updated file and please modify the log4j2.xml file to display

 <root level="debug">

instead of

 <root level="error">

and please copy/paste the resulting mess

[2017-01-03 09:54] novocodev commented on #21
I ran the fix JAR and get the following exception, I ran with DEBUG logging but did not see any additional output. In the post above the specific logging config is missing.

Exception in thread "main" com.amazonaws.services.identitymanagement.model.AmazonIdentityManagementException: The security token included in the request is invalid. (Service: AmazonIdentityManagement; Status Code: 403; Error C

[2017-01-03 17:29] raphaellondner-okta commented on #21
The line you should modify in the log4j2.xml is:

<root level="error">

and should instead mention:

<root level="debug">

Can you provide the additional output you get with that debug level?

[2017-01-04 10:19] novocodev commented on #21
Here is the output:

[code]

[2017-01-11 23:49] raphaellondner-okta commented on #21
We've been able to reproduce your specific issue by specifying an invalid AWS_IAM_KEY in the config.properties file. Can you please verify the AWS_IAM_KEY and AWS_IAM_SECRET values and try again with a new set of valid values?

[2017-01-11 23:55] raphaellondner-okta commented on #8
Closing this issue due to recent update.

[2017-01-11 23:55] #8 closed

[2017-01-12 00:02] raphaellondner-okta commented on #7
Closing this issue, since the tool has been tested to work on Windows and no specific issue has been reported since.
If a problem comes up, feel free to re-open this issue with more specifics.

[2017-01-12 00:02] #7 closed

[2017-01-12 21:32] raphaellondner-okta commented on #3
Thank you for this suggestion, which we are marking as an enhancement request for a future version of the tool (since it's not an issue per se).

[2017-01-16 11:17] novocodev commented on #21
@raphaellondner-okta

Ah, good spot, that was the issue, I had typed a '0' instead of a 'O' in the AWS_IAM_KEY.

[2017-01-16 15:20] novocodev commented on #21
@raphaellondner-okta

I have retested this with the latest binary from master branch and it is working as expected.

[2017-01-16 15:20] #21 closed

[2017-02-01 16:01] joaquinrinaudo-olx opened #24 "Setup for Spoke/Hub Model"
Hello, I wanted to ask if this tool supports Spoke/Hub model?

When pointing OKTA_AWS_APP_URL, OKTA_ORG to the HUB, it works.When changing this variables to the Spoke I get:
`
16:55:28.957 [main] ERROR com.okta.tools.awscli -
You do not have access to AWS through Okta.
Please contact your administrator.`

AWS Application nevertheless is working on fine in the Browser.

Best regards,
Joaquín

[2017-02-01 23:28] johnsmyth commented on #2
I realize that this issue was closed due to lack of api support - Has this been implemented in the public API yet?  We need this capability in our organization.

[2017-02-02 17:39] johnsmyth opened #25 "Enhancement request: support for application-level MFA sign on policies"
We use application level sign on policies to enforce MFA for specific applications, however the cli tool doesn't support this.  I saw an closed issue from August due to lack of API support.  Has this been added to the API?   Is there some other solution to this problem?

[2017-02-06 23:11] joelfranusic-okta commented on #24
Interesting. Have you verified that the OKTA_AWS_APP_URL is correct for the spoke? I would suggest reaching out to developers@okta.com for support on this, since helping you get this working will likely involve looking at settings on your Okta orgs, which isn't really appropriate for a public forum.

[2017-02-07 08:56] joaquinrinaudo commented on #24
Hello, I've reached them about this. In the Spoke model, When using
ORG_TO_ORG link in the OKTA_AWS_APP_URL then we have problems with this line
<https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/4dbfb4a7d7ddfb85e5567781d55e3736421c9282/src/main/java/com/okta/tools/awscli.java#L344>
because
there's already a RelayState paremeter in the URL.

Tried using a one time session token and th

[2017-02-08 19:52] joelfranusic-okta commented on #25
Okta still does not have API support for app level MFA. That said, one could _technically_ add support for app level MFA by implementing a HTTP user agent in code that is aware of the MFA prompt that Okta presents.

If you are an Okta customer and would like API support for app level MFA, I suggest reaching out to your support contact at Okta so they can pass your request along to Okta's product t

[2017-02-16 00:03] kinux opened #26 "Enhancement request: Proxy Support"
First off, thanks for this great tool. It greatly simplifies the AWS STS interaction.

Our company uses an explicit proxy to access the Internet. I can't find a way to have this program use the proxy, and thus it simply fails when running on our internal network.

I've tried setting the proxy in the traditional way via environment variables, as well as via the traditional JAVA way with -Dhttps.pro

[2017-02-16 00:19] kinux commented on #26
Just saw that issue #1 and PR fa718fb91533ebc143326e29a31e47de942171f1 are related to this enhancement

[2017-03-23 20:41] duhaas2015 commented on #25
I'm assuming this example also speaks to if we say have RSA enabled on our AWS application and want to get keys for that app that has MFA enabled on it.  Today, if I disable the MFA on the AWS application it works just fine

[2017-03-27 20:20] pmccarthy01 opened #30 "macOS specific command in Readme.MD"
The following line in Readme.MD is macOS specific. It should probably note that, and if there is an equivalent command for Windows, that should probably be added.

[2017-04-20 13:55] gandhes commented on #24
I am having the same issue. Was there a fix?

[2017-04-27 20:54] thefotios opened #32 "Consolidate/Finalize portable package building"
There are a number of outstanding/closed PRs and issues around artifact building. Is there any interest from the maintainers on integrating this? If there is, I would be happy to try to shepherd those changes into a single PR with the help from the original submitters.

Related:
- #19
- #31
- #27
- #12
- #9

[2017-04-27 21:12] mmahadevan-okta commented on #32
@thefotios Just a quick note to acknowledge the comment/issue. /cc @johngronberg-okta @joelfranusic-okta

[2017-04-28 16:19] thefotios opened #33 "config.properties does not appear to be respected in the "out" directory"
The directions in https://github.com/oktadeveloper/okta-aws-cli-assume-role#configuring-the-application do not work. This only seems to work if `config.properties` is in the CWD when you execute the script.

I believe #14 fixes this.

[2017-06-15 11:16] anjumr commented on #24
Hello,

I'm getting the same problem while implementing it on my laptop (Win 10). Can someone please assist me?

------------------------------------------------------------------------------------------

Username: razique.anjum
Password:
12:00:58 [main] ERROR com.okta.tools.awscli -
You do not have access to AWS through Okta.
Please contact your administrator.
------------------------------------

[2017-07-11 15:40] duhaas2015 opened #37 "IAM Role inside a "folder""
I have an iam role that looks like:

arn:aws:iam::XXXXXXX:role/aplp/Role-IT-PlatformTeam

Noticed i used "aplp" as a "folder" to store all our roles moving forward.  The issue I'm having is the cli seems to not like the fact that it sees it as aplp/Role-IT-PlatformTeam now, that by design or???

[http://i.imgur.com/jIJNnti.png](url)

[2017-07-12 11:05] liquid-sky opened #38 "Configurable session duration"
It's possible to configure session duration in the UI and should be also possible to configure it using CLI tool. Can be done by parametrising [this line](https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/master/src/main/java/com/okta/tools/awscli.java#L423).

[2017-07-24 17:55] jonjohnston opened #39 "Error when selecting Role to assume"
Okta implemented new method to console login to child accounts. This new method uses a fixed role: Okta-Idp-cross-account-role

I don;t believe the cli takes this into account. AWS credentials being used is from account 2222222222 which works because the cli uses the GetRole command. But fails when selecting 1234567890, possibly because it is running the GetRole command but the role is not in 2222

[2017-08-03 21:59] opragel opened #40 "Enhancement request: Show account name/alias instead of account number"
Right now when selecting a role to assume, we are shown account numbers instead of the account name/alias if it exists. Since most of our users won't recognize the account number immediately, this means we have to make which account each role is part of clear in the role name itself. Wouldbe nice to have the account names listed instead so we could avoid that.

[2017-08-04 20:20] opragel commented on #39
I am experiencing the exact same issue. I can assume roles in the "master" account, but not roles in the other connected accounts, despite the fact that the connected account roles are displayed in the list of options.

@jonjohnston I contacted Okta support about this and this was the short version of their answer "Unfortunately this particular SDK is no longer supported, the reason it was also re

[2017-08-05 08:19] opragel commented on #39
I reread this. All the roles are intended to live under one account. https://support.okta.com/help/servlet/fileField?retURL=%2Fhelp%2Fapex%2FOktaArticleDetailPage%3FchildCateg%3D%26id%3DkA0F0000000McF7KAK%26source%3DDocumentation&entityId=ka02A000000XdHMQA0&_CONFIRMATIONTOKEN=VmpFPSxNakF4Tnkwd09DMHdPRlF3TnpvMU1Eb3lOUzQzTWpkYSxzWE90RzU1STI0aS1EOGxNemlWWnJjLFlqZ3hZemhp&common.udd.actions.ActionsUtil

[2017-08-09 10:38] Russell-IO opened #41 "JNI error has occured"
Hello, I've followed the instructions in the readme, but I'm not able to log in.

{noformat}
⇒  ./awscli.command
Error: A JNI error has occurred, please check your installation and try again
Exception in thread "main" java.lang.NoClassDefFoundError: com/amazonaws/auth/AWSCredentials
	at java.lang.Class.getDeclaredMethods0(Native Method)
	at java.lang.Class.privateGetDeclaredMethods(Class.java:2701

[2017-08-10 22:25] sepulworld commented on #41
Probably should  build everything in one jar...

https://github.com/oktadeveloper/okta-aws-cli-assume-role/pull/27 --- this PR plus my notes on the Jackson core stuff worked well.

[2017-08-23 18:12] joelfranusic-okta opened #43 "AssumeRoleWithSAMLRequest doesn't seem to work with China (Beijing) region or GovCloud"
From the AWS docs:

[source](http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/auth/STSSessionCredentialsProvider.html#setSTSClientEndpoint-java.lang.String-)

A quick fix, I think, would be to add the (deprecated) [`withServiceEndpoint`](http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/auth/STSAssumeRoleSessionCredentialsProvider.Builder.html#withServiceEndpoint

[2017-09-14 22:36] ryangood opened #44 "Documentation needs to be updated to reflect [default] profile usage"
We ran into an issue where one of our developers had [default] profile credentials already setup in the aws credentials file. Nowhere in your documentation did we see that these would be overwritten.

[2017-10-02 14:33] wonderphil opened #46 "Allow user to pick default region"
Hi guys,

Is there any way to allow user to pick the region that is populated in the config file?

if not anyway we can get it added to the config.properties ?

Thanks

[2017-10-13 07:06] IamGabrielWu commented on #41
HI
Please make sure your code work before it's on master. I followed okta [documentation](https://support.okta.com/help/Documentation/Knowledge_Article/Integrating-the-Amazon-Web-Services-Command-Line-Interface-Using-Okta) here and it doesn't work leaving me really bad impression of using okta as a consumer.

[2017-10-16 05:17] rdegges opened #47 "Maintained?"
Is anyone maintaining this actively atm?

[2017-10-17 09:32] boyvanduuren commented on #44
I ran into this as well.
The following text really threw me off my guard:

This lead me to believe my default role was kept intact, even though it was overwritten with the same data as the profile that was just created.

I'd really hate for someone to accidentally throw away important resources due to this. I'm willing to spend some time to fix this if my PR is welcome.

[2017-10-17 15:17] rdegges commented on #44
I'm happy to accept PRs here. We don't have an active maintainer atm, and I'm not a Java guy, but I'd be more than happy to merge fixes in to keep things chugging along.

[2017-10-21 07:36] rdegges commented on #47
I'll take care of it then! <3

[2017-10-21 07:36] #47 closed

[2017-10-24 06:16] boyvanduuren opened #49 "What to do when there is no AWS configuration"
Recently #48 was merged. These changes make sure default profiles will not be overwritten.
However, I was wondering what we should do when there aren't any `$HOME/.aws/config` and `$HOME/.aws/credentials` configuration files yet.

Maybe we should write the newly created profile as a default profile in case there is no previous aws-cli credentials configuration, and add/update it if there is.
That

[2017-10-24 16:08] rdegges commented on #49
I think that sounds like a reasonable solution.

[2017-10-27 06:38] boyvanduuren commented on #49
Great! :) I've just created a PR.

[2017-10-28 07:33] rdegges commented on #49
Merged!

[2017-10-28 07:33] #49 closed

[2017-10-31 10:40] jake-gg opened #51 "Why is the timeout hardcoded?"
Why is the timeout hardcoded? Can this be parameterised? If the Okta Application sets a timeout of 8 hours, the CLI tool should respect that.

https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/b8ce7d17fe383fb9c420eb0e0fe7d9a82ea8778e/src/main/java/com/okta/tools/awscli.java#L428

[2017-10-31 15:32] mmaha commented on #51
FWIW, the AWS only allows a max of 3600 seconds. https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRoleWithSAML.html

[2017-10-31 15:54] rdegges commented on #51
If you'd like to submit a PR to add it as a parameter, I think that's fine.

[2017-10-31 17:31] vorton77 commented on #25
Now that Okta has API support for app level MFA, are there plans to upgrade this code to leverage application level sign on policies?

[2017-10-31 18:58] rdegges commented on #25
If anyone wants to submit a PR to add that functionality, I'll happily merge it.

Right now this project doesn't have a dedicated maintainer (except me): and I'm not a java developer. I'm just on here triaging community work to keep things going.

[2017-11-16 17:27] AndreiiiH opened #52 "NoClassDefFoundError: com/amazonaws/AmazonClientException"
When executing the prebuilt Jar, it throws a NoClassDefFoundError: com/amazonaws/AmazonClientException error.

Executing the code in IntelliJ does not produce the same output, rather, it works as intended.

This is due to a dependency reference missing that points at the lib folder in the iml file.

[2017-11-16 20:56] AndreiiiH commented on #52
Closed with the latest merged PR.

[2017-11-16 20:56] #52 closed

[2017-12-05 19:35] etendards commented on #24
I am now getting this error as well.  Is there a fix?  What URL should I be using?  We have a single AWS cred account and a single Okta app.

[2017-12-05 19:55] etendards commented on #2
We would also like to use App level MFA.  Has this project enabled that yet?

[2017-12-06 23:59] AlainODea commented on #24
@etendards

I suspect, you have no AWS roles assigned to you in your Amazon Web Services Okta app.

You should make sure:
1. provisioning is enabled on your Amazon Web Services Okta app
2. the IAM credentials it has can read your AWS account’s IAM Roles
3. your AWS account’s IAM Roles have a trust relationship allowing your Okta Identity Provider to use them
4. your AWS account’s IAM Roles have a

[2017-12-07 17:19] etendards commented on #24
Our Okta Admin turned on App level MFA and that is why my script broke.  This app only seems to work with Global MFA in Okta.

[2017-12-07 23:32] AlainODea commented on #24
@etendards I’ll give app-level MFA a try in oktapreview and see if I can fix this. Thank you for the update 😊

[2017-12-08 16:27] jfhamlin opened #58 "Add Duo support or describe a Duo workaround"
I'm moving to Duo from SMS for MFA, but I'm blocked on lack of Duo support in the cli. What is preventing support for Duo? I'm happy to contribute if it just takes some programming effort. Alternatively, can you offer a workaround for AWS CLI/API access when using Duo?

[2017-12-08 17:36] mmahadevan-okta opened #59 "Support for credential_process"
This was talked about in the recent [AWS CLI talk at re:Invent ](http://awsfeed.com/post/168047446129/aws-reinvent-2017-aws-cli-2017-and-beyond)

By supporting returning a specific JSON object, as described here:  http://docs.aws.amazon.com/cli/latest/topic/config-vars.html#sourcing-credentials-from-external-processes [okta-aws-cli-assume-role](https://github.com/oktadeveloper/okta-aws-cli-assume-

[2017-12-08 18:42] AlainODea commented on #59
I really like this idea, @mmahadevan-okta. I'll read into this and see if I can adapt the program to work as a **credential_process** for AWS CLI. That's much cleaner.

My colleagues have been asking how to get this to support other tools like Serverless, ECS CLI, and Terraform. I think your idea is a step in that direction, where it can support whatever downstream tool needs it.

[2017-12-08 18:43] AlainODea commented on #24
I wasn't able to figure this out. I can't find docs on this, so I've reach out to Okta Developers list for support. I'll keep you posted.

[2017-12-08 19:05] mmahadevan-okta commented on #24
AFAIK, There is currently no support for App-Level MFA policies via the API only the global one.  Now, I think it may change with the OIDC flow.  Will need one of the other experts to chime in here...

[2017-12-08 19:10] mmahadevan-okta commented on #59
Right, I was quite happy to see the support for this.  [Kyle Knapp](https://github.com/kyleknap) and team from AWS own the aws-cli command.

[2017-12-11 13:10] AlainODea commented on #25
@rdegges I am trying to develop a PR for this. I don't think this is a supported interaction. I have case 00366942 open with developer support.

If I remove the app sign-on policy (or make it not apply to me), I get the expected response HTML page with a SAMLResponse and RelayState and JS to POST it to the ACS.

If I reapply the app sign-on policy, I get an unexpected response HTML page with the g

[2017-12-11 13:16] AlainODea commented on #24
Thank you, @mmahadevan-okta. That seems to be what I've discovered after some troubleshooting. The App Embed Link presents a org signin form. I'm going to consider this unsolvable for the moment and pause it :)

[2017-12-11 13:17] AlainODea commented on #25
@rdegges disregard. This is unsupported by the Okta Platform.
https://github.com/oktadeveloper/okta-aws-cli-assume-role/issues/24#issuecomment-350345433

I'll revisit if the OIDC support makes this possible.

[2017-12-11 15:14] etendards commented on #24
Thank you all for looking into this.  If anyone finds a way to do this with Okta MFA at the App level, please share.   So far Okta has no solutions for this need.

[2017-12-12 19:57] etendards commented on #59
Have you guys seen this Chrome extension?  https://github.com/prolane/samltoawsstskeys

I cant get it to work with current version of Chrome.

[2017-12-14 01:57] kylebinns opened #61 "Logging in when Okta MFA enabled does not work"
This worked great for me when Okta MFA was turned off in my organization. Since we enabled it, this process seems to fail, giving me the message: You do not have access to AWS through Okta. None of my AWS settings have changed.

At first glance, the Document received from the launchOktaAwsApp method is a redirect page and does not contain the SAML token in the form expected to use to call AWS. Thi

[2017-12-14 03:54] rdegges commented on #61
Hmm.

We don't have a dedicated maintainer for this tool at the moment, but if you want to contribute a PR to help fix this I'd be more than happy to merge. I apologize.

[2017-12-14 21:41] AlainODea commented on #59
@etendards I’m not familiar with that Chrome plugin. You might want to post an issue on their repo.

[2017-12-28 16:22] amgrice commented on #61
I'm not sure if you're having the exact same issue, @kylebinns but I seem to be running into something similar.

I'm using Google Authenticator, but get an exception like the one you mentioned in that I don't have access. But to me, it seems that might be stemming from something going wrong when it tries to create the JSONArray for the MFA factors to select from:

[code]

[2017-12-28 17:24] alamir1 commented on #41
Latest update doesn't seem to work with Symantic VIP tokens. throws a runtime exception stating you don't have access to AWS.
also, if a token is generated the first time with another MFA method on one account or role, the second run fails if you try to generate a new token for another account or role while the first one hasn't expired. one must remove the session file and cache to generate a new

[2018-01-02 13:50] AlainODea commented on #61
@connorthomasmccabe you encountered this and I think you were close to a fix, right?

[2018-01-03 04:25] cyrus-mc opened #66 "User assigned to only one SAML User Role results in No Selection Present"
From within Okta, a user is assigned to only one SAML User Role. This results in no selections being present yet the prompt to make a selection is still presented.

Looking at the code it appears to parse the AWL SAML role selection page to determine what to present in that selection. As the user is only assigned to one SAML User Role this selection page isn't presented and the user is dropped rig

[2018-01-03 16:30] connorthomasmccabe commented on #61
@kylebinns @amgrice

I have a [PR](https://github.com/oktadeveloper/okta-aws-cli-assume-role/pull/65) open for this issue.

[2018-01-03 17:26] rdegges commented on #61
Merged just now. Closing!

[2018-01-03 17:26] #61 closed

[2018-01-03 17:47] jake-gg commented on #51
Thanks @mmaha for that link. It appears there is no point in parameterising this until AWS allow this to be more than an hour. I'm closing this.

[2018-01-03 17:47] #51 closed

[2018-01-04 17:09] jclerkin opened #67 "java.net.UnknownHostException"
After running './awscli sts get-caller-identity' and entering username and password, i then receive the following:

Exception in thread "main" java.net.UnknownHostException: https: nodename nor servname provided, or not known
	at java.base/java.net.Inet6AddressImpl.lookupAllHostAddr(Native Method)
	at java.base/java.net.InetAddress$PlatformNameService.lookupAllHostAddr(InetAddress.java:924)
	at ja

[2018-01-04 18:25] #67 closed

[2018-01-18 02:32] Maanpreet opened #69 "Question: I have multiple roles but if I want to select to one role and then another before my okta session expires"
Thanks for putting up nice tool and I got it working. I have multiple roles but if I want to select to one role and then I want to select another role before my orginal okta session expires, right now if I do this (before expiring old session) ./awscli sts get-caller-identity,   it shows me details for old session rather than prompting a new session.

Please let me know if I'm missing something.

[2018-01-18 15:34] Maanpreet commented on #69
And also, is it possible to specify multiple app names in config  ?

[2018-01-24 06:35] peterslivka commented on #66
I had the same issue. Checking out older commit 4b78f5a from 20 Dec 2017 helped, so the issue must be introduced in latest changes.

[2018-01-25 16:54] AlainODea commented on #69
There is logout functionality in the JAR in master now (built from #68). That will take you partway.

@smashling is developing support for named profiles and then following that with support for managing multiple named profiles. He should have a PR for named profiles next week.

[2018-01-25 16:55] AlainODea commented on #69
I like this idea. Using the same Okta session for multiple profiles would be useful. It would be a big user experience boost over the current approach which requires you to re-authenticate.

I'll see if we can get that done after the multiple profiles work.

[2018-01-25 16:57] AlainODea opened #72 "Travis CI and releasing to an artifact repository"
@mraible I think your suggestion publishing to Maven Central from Travis is a practical solution to this problem.

@loopingz do you agree? S3 is an option, but I think Maven would be easier to discover and consume.

[2018-01-25 17:35] AlainODea commented on #69
Sorry, #68 isn't merged yet. Once it is, the out/oktaawscli.jar there will include the fix.

[2018-01-25 17:36] AlainODea commented on #66
This is fixed by #68, once that PR is merged, it will pick the single role automatically and not display this broken selection menu.

Sorry about this.

[2018-01-25 22:51] AlainODea commented on #46
@smashling is working on named profile support now. I'm hoping he'll have a PR ready for release next week. Named profiles would let you handle persistent configuration options like region. I'll ask him to factor in testing of updating an existing profile and see if it can preserve existing properties.

[2018-01-25 22:52] AlainODea commented on #44
Sorry for this, @ryangood. This has been fixed now.

The current implementation does not overwrite the default profile.

@mraible I think it's safe to close this issue now :)

[2018-01-25 22:54] #44 closed

[2018-01-25 22:56] AlainODea commented on #43
This is interesting. I got us partway there by using **AWSSecurityTokenServiceClientBuilder** and then destroyed that by hard-coding US-EAST-1 🤕 I'm putting this on my backlog to fix.

[2018-01-25 22:58] AlainODea commented on #40
This was fixed in https://github.com/oktadeveloper/okta-aws-cli-assume-role/pull/57 . The current version shows a friendly menu with account aliases if they are available.

@mraible another bug bites the dust 🎉

[2018-01-25 23:00] AlainODea commented on #26
Proxy support was added in https://github.com/oktadeveloper/okta-aws-cli-assume-role/pull/62

@mraible another issue down 🎉

[2018-01-25 23:00] #40 closed

[2018-01-25 23:01] #26 closed

[2018-01-25 23:02] AlainODea commented on #30
@pmccarthy01 we accept pull requests. That's a good opportunity for a contribution 😄

[2018-01-25 23:03] AlainODea commented on #33
@mraible this issue is fixed 🎉

[2018-01-25 23:09] AlainODea commented on #38
This is a good idea.

@smashling configurable session duration is a good one for your backlog after you get named sessions, multiple concurrent sessions, and Okta session reuse for those done. Probably something to consider in late Feb or early March.

[2018-01-25 23:11] AlainODea commented on #39
This issue is fixed. The renewed version works with the new Okta AWS app now.

I strongly recommend following the setup guide in the Okta Admin portal itself that is directly on the Amazon Web Services app you are configuring. It has changed significantly.

@mraible this can be closed 🎉

[2018-01-25 23:14] AlainODea commented on #46
@smashling this will require fixing the bug I introduced by hardcoding the region here:
https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/54db0bfa82f108457d893459b0b40eafaa669236/src/main/java/com/okta/tools/OktaAwsCliAssumeRole.java#L232-L236

[2018-01-25 23:14] AlainODea commented on #66
@mraible another one to close. This has been a fruitful cleanup 🎉

[2018-01-25 23:16] AlainODea commented on #69
@smashling rereading this, I realize it's a request for reusing the Okta session not just named sessions. It looks like Okta session reuse will solve a lot of user experience problems.

[2018-01-26 00:49] #66 closed

[2018-01-26 00:49] #39 closed

[2018-02-01 01:41] AlainODea commented on #24
@joaquinrinaudo-olx for hub and spoke with Amazon Web Services apps in the spokes, I think you would need to add novel support to this code base. It would be non-trivial to say the least.

There wouldn't be a single Amazon Web Services app, but many. This tool is only designed to support a single Amazon Web Services app. It's conceivable that setting the OKTA_AWS_APP_URL to the Okta2Okta (or other

[2018-02-01 01:43] AlainODea commented on #32
@mraible this can be closed.

The build enhancements from the PRs highlighted have all been merged.

[2018-02-01 01:49] AlainODea commented on #41
@alamir1 not sure why Symantec VIP doesn't work. I don't have a way to test that. Sorry about that.

#68 added a logout command that solves your other issue.

We have named profile support tested and ready to merge in #73 and multiple concurrent profile support is in development and a PR for that should be up early next week. After that we're working on being able to use the existing Okta session

[2018-02-01 01:53] #32 closed

[2018-02-01 01:57] AlainODea opened #74 "Symantec VIP Support"
@alamir1 I'm moving this conversation to a new issue.

Symantec VIP has a distinct factorType that I didn't account for. The same thing happened to Yubikey support, but I had a user who I could test with and who works in a desk beside me so I was particularly motivated 😁

https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/master/src/main/java/com/okta/tools/OktaAwsCliAssumeRole.java#L4

[2018-02-01 01:59] AlainODea commented on #41
@mraible this issue should be closed.

The original JNI crash is not reproducible and the rest of the comments here have strayed into random issue-reporting. All issues beyond the Symantec VIP issue are resolved and I've moved that to https://github.com/oktadeveloper/okta-aws-cli-assume-role/issues/74

[2018-02-01 13:24] alamir1 commented on #41
@AlainODea thanks for the update. I'll watch for the merge and try it again next week to try the Symantec VIP

[2018-02-02 17:55] dlgoodr opened #75 "awscli results in `aws' command error, no credentials"
[code]

config.properties contains ```OKTA_ORG``` and ```OKTA_AWS_APP_URL```.  I was prompted once for credentials but removed the credential file to test something.  Ever since then I haven't been prompted for auth on run of the jar, and ```~/.aws/credentials``` is not repopulated.  Repo cloned and built Feb 2, approximately 11:30 AM CST.  Don't know if there's a 'stable' branch I should be cloni

[2018-02-02 20:12] AlainODea commented on #37
@mraible this is resolved by #73, which is now merged.

[2018-02-02 20:31] #37 closed

[2018-02-10 15:35] AlainODea commented on #75
That’s due to my design change. awscli nows runs the aws command line with the arg list handed to it, after creating a profile session. Try running this:

[code]

That will run aws sts —profile {generated-profile-name} get-caller-identity after you authenticate.

You may find using the withokta command (available on master) with OKTA_PROFILE env set to be a useful alternative. It acts more like su

[2018-02-10 15:36] AlainODea commented on #75
Not be re-prompted and not having the credentials file update is definitely a bug.

[2018-02-10 16:04] AlainODea commented on #75
The **master** branch is the most stable release. We're incrementally fixing issues and improving the user experience.

[2018-02-12 16:13] dlgoodr commented on #75
should a present `~/.okta-aws-cli-session` and absent `~/.aws/credentials` be a condition the app detects and resolves?  It's not behavior people accustomed to the traditional aws-cli would expect.

[2018-02-14 04:53] ken5scal opened #80 "Cannot setup and execute on Mac"
I am using `MacBook Pro 10.12.6` and not being able to set up the cli correctly.
Here is the step by step setup.

1. Install JDK from  http://www.oracle.com/technetwork/java/javase/downloads/index.html

[code]

2. % brew install maven
3. % git clone https://github.com/oktadeveloper/okta-aws-cli-assume-role.git
4. % vim config.properties (Edit OKTA_ORG and OKTA_AWS_APP_URL)
5. % mv config.propertie

[2018-02-14 05:11] ken5scal commented on #80
Nevermind, I realized OKTA_ORG cannot  have scheme `https://`

[2018-02-14 05:11] #80 closed

[2018-03-01 16:20] liquid-sky opened #82 "Cross-Account roles do not work"
Has support for cross-account roles, implemented in [this pr](https://github.com/oktadeveloper/okta-aws-cli-assume-role/pull/15) been removed?

The app doesn't present a choice of roles that the main role can switch to and assumes main account role automatically.

[2018-03-02 14:40] AlainODea commented on #72
@mraible having out/oktaawscli.jar in the repository is causing a lot of merging headaches for us during development. It also makes the repository really big when cloning and fetching.

Is there any chance you folks at Okta can set up a Travis CI or similar CI system for building the JAR?

[2018-03-02 18:12] mraible commented on #72
@AlainODea I'll work on this today.

[2018-03-02 19:07] #72 closed

[2018-03-02 19:17] BrutalSimplicity opened #85 "Windows 10 Error - Cannot run program "aws""
After installing the aws cli through python, I attempt to run `awscli.bat`, and get the following error:

[code]

My initial guess was an issue with the way my `PATH` variable was setup, but running `aws` from the command line resolves correctly, and it also looks like the correct directory `C:\Program Files\Python36\Scripts` has been added to the `PATH`.

**Can you all identify anything that I ma

[2018-03-02 20:10] mraible commented on #72
Release published to https://packagecloud.io/oktadev/okta-aws-cli-assume-role and on GitHub https://github.com/oktadeveloper/okta-aws-cli-assume-role/releases.

[2018-03-02 20:11] mraible commented on #72
This will automatically upload new versions when a tag is created. If we want snapshot releases, we'll have to tweak `.travis.yml`. I used [this article](https://blog.travis-ci.com/2017-03-30-deploy-maven-travis-ci-packagecloud/) as a guide.

[2018-03-03 17:24] AlainODea commented on #85
Interesting. That's a good intuition. If you hadn't already dug into the **PATH** issue that's what I would have suggested.

The code for running **aws** from this program is a barebones as it gets. It doesn't even use a subshell, it execs **aws** directly as a subprocess. It relies on the OS to have **aws** on the PATH. It should just work out of the box.

This works for us on Amazon WorkSpaces,

[2018-03-03 18:00] AlainODea commented on #82
Cross-account roles have been working on **master** since the merge December 5th, 2017.

If you only have one role assigned, this tool will pick that role with no prompts.

Troubleshooting steps:
* Have you assigned multiple roles to yourself in the Okta admin portal?
  * If you can, do that.
  * If you have. Let me know. That sound like a bug.
  * If you can't, you need to revisit the setup instr

[2018-03-03 18:02] AlainODea commented on #75
@dlgoodr I have a fix coming for that. It actually solves a first run problem as well. If you install AWS CLI and this tool without running aws configure, the same crash happens. Good catch!

[2018-03-03 18:14] AlainODea commented on #72
Hero of the day!! Awesome work, @mraible 🎉  Thank you.

[2018-03-03 18:55] AlainODea opened #88 "Not practically install-able"
The program is currently not really install-able.

Attempts to move it and its script into a bin directory on the PATH don't work as it needs **config.properties** in the current working directory.

Accepting properties from **~/.okta/config.properties** is one step in that direction. The Gradle application plugin is another option.

Either way, it would be useful for this to be install-able so it

[2018-03-03 18:55] AlainODea opened #89 "Runs super-slowly now even for quick commands"
Doing nothing (running **true**, a trivial program that exits with code **0**) with this is now surprisingly slow, suggesting that there is a major performance regression somewhere:

[code]

Using the oktaawscli.jar from 8af9de9, I get this dramatically faster experience:

[code]

The regression was introduced by #83, so I suspect it has something to do with refreshing the Okta session. It looks l

[2018-03-03 19:07] dlgoodr commented on #75
:+1:

[2018-03-04 01:11] AlainODea commented on #3
This is possible as of #78.

@mraible this can be closed.

[2018-03-04 01:12] AlainODea commented on #33
This is fixed.

@mraible this can be closed.

[2018-03-04 01:14] #33 closed

[2018-03-04 01:14] #3 closed

[2018-03-04 01:19] AlainODea commented on #38
Unfortunately, session duration cannot be controlled by a client, which this acts as.

The session duration is controlled by the Amazon Web Services app in the Sign On tab as the **Session Duration (Required only for SAML SSO)** setting. It cannot be altered by a client.

@mraible this can be closed as a documented fix.

[2018-03-04 01:19] AlainODea commented on #69
This was implemented in #83. It has been released.

@mraible this issue can be closed 🎉

[2018-03-04 01:25] #38 closed

[2018-03-04 01:25] #69 closed

[2018-03-04 02:23] AlainODea commented on #46
@smashling there's a bug in profile management that impacts region selection.

The profile management introduced in #81 (merged to **master**) overwrites the **region** in **~/.aws/config**. If a region is in the file, it should leave it untouched. The bug predates that functionality, but was harmless since the original code would create fresh profiles each time. Multi-profile support highlights t

[2018-03-04 06:24] slancio commented on #88
I put config.properties, awscli and the jar file in the same folder, added that folder to my path and changed the contents of the script to this:

`cd "${BASH_SOURCE%/*}" || exit
java -classpath .:oktaawscli.jar com.okta.tools.awscli $@
`

Though it would be really great if the variables in config.properties would be looked for in the environment first and the file second and not require config.pr

[2018-03-04 15:47] AlainODea commented on #88
Cool stuff, @slancio! Would what I did in #92 work for you? It makes the config.properties optional and can load it from ~/.okta/ instead of PWD.

[2018-03-04 16:01] slancio commented on #88
Generally, yes, but it's not really multi-user at that point (though I can't imagine that's a common use case) -- each user would have to have the JAR in their home directory in `~/.okta`, but the `awscli` command may end up somewhere that any user on a system can use it.

[2018-03-04 16:27] AlainODea commented on #88
Sorry for the lack of clarity. Multi-user on a single system isn't the use-case I'm thinking of. I'm trying to solve rollout of the tool to ~200 distinct endpoints.

Don't forget to try `withokta` if you haven't yet ;) It lets you use this with arbitrary commands or scripts that use named AWS profiles.

For multiple users on a single system, it would be beneficial to be able to have it use a singl

[2018-03-05 16:24] BrutalSimplicity commented on #85
Just tried restarting this morning, and am still receiving the same error 😞

Below, I've included my system information to possibly aid in diagnosing this issue. Please let me know if you find any additional information.

[code]

[2018-03-05 17:18] mraible opened #93 "Update documentation in Okta Help Center"
Hello @AlainODea! Can you please tell me what needs to change in https://support.okta.com/help/Documentation/Knowledge_Article/Integrating-the-Amazon-Web-Services-Command-Line-Interface-Using-Okta so it's up-to-date with this repo?

[2018-03-05 20:04] #46 closed

[2018-03-05 22:44] shoekstra opened #94 "Unable to use latest release"
Hi,

I was using an older version quite some time ago with success, I was able to run `./awscli`, get prompted for username and password, choose my okta role and then the AWS role policy I wanted to assume.  From there I was able to use the profile as expected (primary use is with Terraform) and assume roles in other accounts.

Since that version it looks like quite a bit has changed.

Now when ru

[2018-03-06 15:11] #74 closed

[2018-03-06 15:28] alamir1 opened #95 "CLI fails on Multiple Roles"
first run works fine. But, if I run the commands again to get keys for a different role it fails unless I remove the session file ~/.okta-aws-cli-session
./awscli sts get-caller-identity
Exception in thread "main" java.lang.NullPointerException
at com.okta.tools.OktaAwsCliAssumeRole.run(OktaAwsCliAssumeRole.java:109)
at com.okta.tools.awscli.main(awscli.java:31)

[2018-03-06 21:06] emalenfant-fuze commented on #95
I'll second the problem - same error:

[code]

[2018-03-06 22:09] AlainODea commented on #95
Confirmed. I can reproduce the issue on **master**. Thank you for your report, @alamir1. Thank you for confirming, @emalenfant-fuze.

The fix is easy. This regression was accidentally introduced with the named profile support.

A quick fix is this:
[code]

I’ll get a real fix for this soon. Sorry 😊

[2018-03-07 03:36] AlainODea commented on #94
This is a regression on **master**. Sorry about that.

This is the same issue as #95.

See my workaround here:
https://github.com/oktadeveloper/okta-aws-cli-assume-role/issues/95#issuecomment-370946716

[2018-03-07 03:42] AlainODea commented on #93
Sure thing. @smashling is preparing a getting started presentation, so in that process I'll review the Okta Help Center material and suggest updates as well.

Thank you, @mraible :)

[2018-03-07 18:15] holed03 commented on #2
We have created the following workaroud for (not being able to use App level MFA to protect AWS CLI.....)

1.	In the AWS console Okta ‘app specific policy’ create a rule with exception group (checkbox) to ‘exclude following groups’ from (app specific MFA rule) [& set to your CLI users group/ DevOps]

![app specific exception rule](https://user-images.githubusercontent.com/37154643/37109885-40900f5

[2018-03-07 20:02] #94 closed

[2018-03-07 20:02] #95 closed

[2018-03-10 14:29] AlainODea commented on #85
This works on Windows for all my users, so I’m not sure why it won’t work for you. It’s likely specific configuration on your machine causing the issue. I can’t debug that or practically support it, but I’ll do my best to give you the tools to fix this.

On Windows, **PATH** is one of multiple ways in which programs get found by name. They can also be found in the Registry.

While it should work a

[2018-03-13 17:36] ctoa commented on #38
@AlainODea I was testing this and __Session Duration (Required only for SAML SSO)__ seemed to only affect AWS console, but not the CLI. E.g. I set  __Session Duration (Required only for SAML SSO)__  to `900` and I get kicked out from AWS console after 15 mins, but the CLI still works for 1 hr.

[2018-03-13 23:14] AlainODea commented on #38
Oh. That’s concerning!

Thank you for finding this. That works differently than I expected.

It creates an opportunity here that I’ll investigate in a few weeks when I get time.

[2018-03-14 16:50] #30 closed

[2018-03-14 22:46] AlainODea commented on #93
Sorry for the delay on this. @smashling can you take a look at the docs and provide some recommendations by Tuesday next week?

[2018-03-15 12:36] smashling commented on #93
In the Part 2:Use the Token section, I would add a note about the new command for users with multiple profiles that they switch between. An example command would be end OKTA_PROFILE=[profile name] withokta aws --profile [profile name] s3 ls. I would also recommend that the user makes a command alias for their various profiles, because of how long the current command is.

[2018-03-15 13:41] satssin opened #99 "Two AWS account token"
I have a use case where I have two AWS accounts, one for prod and one for non-prod.
Both accounts are configured to talk to Okta.How can i use two Embed links in the config file to get temporary credentials from both the AWS accounts?

[2018-03-16 16:26] joewitt99 opened #100 "Executing the awscli throws NullPointerException on subsequent calls after login"
When executing the awscli with the following properties:
OKTA_ORG=[okta tenant]
OKTA_AWS_APP_URL=[application url]
OKTA_USERNAME=
OKTA_PASSWORD=
OKTA_AWS_ROLE_TO_ASSUME=

I am prompted to authenticate as expected.  When I execute the awscli a second time I get the following Exception:
Exception in thread "main" java.lang.NullPointerException
        at com.okta.tools.OktaAwsCliAssumeRole.run(OktaA

[2018-03-16 16:34] andreihava-okta commented on #100
@joewitt99 Thank you for submitting this issue on GitHub as well. As per our internal discussion, we will take a look at this as soon as possible.

CC @AlainODea @smashling @mraible - Issue opened following an internal ticket opened with support by Joe who's an Okta employee.

[2018-03-16 16:45] rp4rk opened #101 "Error Encountered After MFA Prompt"
After being prompted for your MFA code, so far having tested both SMS and Google Authenticator, you'll be greeted with an error. Here's a stacktrace:

[code]

Having checked this across multiple users, and accounts, and verifying we do indeed have access to AWS through Okta - my conclusion has to be that this is a bug or regression.

Here are some related issues in the past with similar problems:

[2018-03-16 16:50] smashling commented on #100
I believe this issue was fixed  in Pull request #96 :bug: NPE on second run with no profile name unless I am misunderstanding the error.

[2018-03-16 16:55] smashling commented on #101
This error has come up in the past if the google token was input too late and it expired while attempting to authenticate the token. When this happens, it gets caught in a bad state, and the current workaround is to run ./awscli logout.

[2018-03-16 17:00] smashling commented on #99
I created a profile store for this scenario, when multiple profiles are active at once. The command to use is [env OKTA_PROFILE=profilename ./withokta aws --profile profilename command]. running this for each profile will ask for the role for each from a list of available roles. Whenever these profiles are reused, the RoleArn is reused and the profile expiry is refreshed as long as the Okta sessio

[2018-03-16 17:45] rp4rk commented on #101
Thanks for the heads up, I'll keep this in mind for when it next occurs and see if it resolves the problem.

[2018-03-16 17:45] #101 closed

[2018-03-16 17:56] joewitt99 commented on #100
I pulled the master and built the snapshot and I was able to get past the errors..   Thanks, which will there be a 1.0.1 GA release?

[2018-03-16 18:02] mraible commented on #100
I can do one today. It’s automated, so I just need to create a release/tag on GitHub and it auto-publishes with Travis.

[2018-03-16 18:19] nbarbettini commented on #100
Thank you @mraible 😄

[2018-03-16 18:25] #100 closed

[2018-03-17 03:36] AlainODea commented on #99
@satssin you can’t embed two links. You need to follow the Okta AWS setup guidance for using multiple AWS accounts.

You could hack support for it by swapping in different versions of ~/.okta/config.properties. This could conceivably be done by making ~/.okta/ a Git repository and switching branches.

There is no intention of supporting this use case directly.

@mraible this can be closed.

[2018-03-17 03:38] AlainODea commented on #82
@mraible this issue can be closed.

[2018-03-17 03:42] #99 closed

[2018-03-17 03:43] #82 closed

[2018-03-17 03:43] #75 closed

[2018-03-17 20:50] pollosp opened #102 "Is it working with a second MFA?"
I have two accounts of AWS one where we always enforce MFA before login to the AWS account and other were we don't enforce it.  I'm using version 1.0.0 and it isn't working with the first case, I'm getting the following error:

[code]

I think it did the first MFA (my account always enforce MFA for OKTA logging from unknown devices) and it didn't tries to do the enforced MFA of the AWS account.

[

[2018-03-18 17:18] cchristous commented on #100
@mraible looks like the `okta-aws-cli-1.0.1.jar` didn't get uploaded to the [releases](https://github.com/oktadeveloper/okta-aws-cli-assume-role/releases) page

[2018-03-18 18:02] mraible commented on #100
I'll upload it now. The automation doesn't add it to the release - that's a manual process. It does auto-upload it to https://packagecloud.io/oktadev/okta-aws-cli-assume-role. Maybe we should add that URL to the README?

[2018-03-18 19:42] cchristous commented on #100
Thanks for the link. I think adding that URL to the README is a good idea.

[2018-03-20 19:09] dlgoodr commented on #85
:-1: me too.
[code]

[2018-03-20 19:45] dlgoodr commented on #85
The `withokta` workarounds do not work for me if I have to switch roles into another account. AccessDenied when calling AssumeRole.

[2018-03-21 11:00] AlainODea commented on #85
@dlgoodr how does role-switching not work using withokta? You switch roles within your flow the same way you pick one initially in my example above. This tool doesn’t grant every profile the ability to AssumeRole between profiles. You need to invoke it explitly when switching roles.

[2018-03-21 11:02] AlainODea commented on #85
Also, why are you invoking this with java explicitly and not using the provided bat files?

Make sure you pull the 1.0.2 release. It fixes a bunch of bugs that have been around for a while.

[2018-03-21 17:11] dlgoodr commented on #85
**Switching Role with withokta**

It appears to be rewriting my profile, changing the account number in the `role_arn` and the `source_profile` value.
[code]

my `.aws\config` is:
[code]
before I ran withokta, <landing_account> was <target_account> and `source_profile` was something entirely different so i'm very confused about how this should work.  Never prompted for creds, either, so ... it's e

[2018-03-21 17:26] AlainODea commented on #85
My mistake.1.0.1 should work.

I’ve been working on a fresh Amazon WorkSpace running Windows to try and figure this out.

Did you install awscli with PIP? I don’t think that will work properly. I haven’t tested it at least.

[2018-03-21 19:16] AlainODea commented on #85
Try running this to install v1.0.1 with AWS CLI:
1. Download and run the 64-bin Windows AWS CLI installer: https://s3.amazonaws.com/aws-cli/AWSCLI64.msi
2. Copy paste the following into a PowerShell prompt
[code]
3. Once you run this you should be do things like this in PowerShell on Windows:
[code]

You should be prompted for the first role selection and not for the second. The second role select

[2018-03-22 08:41] junkangli commented on #85
It seems that Windows users need to install the AWS CLI using the [MSI Installer](https://docs.aws.amazon.com/cli/latest/userguide/awscli-install-windows.html#install-msi-on-windows). The Okta AWS CLI Assume Role tool does not work with the AWS CLI installed using `pip`.

[2018-03-22 11:09] AlainODea commented on #85
Thank you, @junkangli. That’s my experience as well.

I suspect that the way pip installs AWS CLI on Windows makes it unable to run with a CreateProcess call. Someone would probably have to alter it to inject `cmd` and `/c` as the ProcessBuilder’s first parameters on Windows only to make it work. That’s going to require a lot of testing since it could break all other platforms and change command q

[2018-03-23 08:04] andreihava-okta opened #105 "Connection Timeout when using proxy"
Issue brought up via our [Dev Forums](https://devforum.okta.com/t/awscli-connection-timeout/1483)

**Issue:** While using Amazon's CLI tool after setting the HTTP_PROXY parameter, connection is successful. However, using Okta's AWS CLI tool after setting the HTTP_PROXY parameter results in a connection timeout.

**Amazon's Tool:**
[code]

**Okta's Tool:**
[code]

**Wireshark Trace:**
![okta_packet

[2018-03-23 17:28] AlainODea commented on #105
This is easy to fix. They need to set the proxy for Java.

The proxy for Java can be set globally as described here:
https://java.com/en/download/help/proxy_setup.xml

Proxies can be set per-process as described here:
https://docs.oracle.com/javase/8/docs/technotes/guides/net/proxies.html

My PowerShell script pulls the Internet Options proxy settings on Windows:
https://github.com/oktadeveloper/o

[2018-03-23 17:36] AlainODea commented on #102
App-level MFA will not work with this tool. It’s not supported by the Okta API. It only works in web browsers right now.

I thought Okta Push worked, but apparently not. Duo Push definitely doesn’t.

Okta Verify (TOTP) should work.

[2018-03-23 17:39] AlainODea commented on #102
App-level MFA doesn’t work, but Org-level does.

I used the “Google Authenticator” option to get a TOTP QR Code for MFA. I scanned that with Duo Mobile, but you can scan it with any TOTP app.

[2018-03-23 20:17] ziemowitp opened #106 "Issue with MFA"
Hi,

I enabled MFA on my account and since then I am unable to do anything.  According to Okta, the login was successful.  What I assume I should be getting is the list of accounts and roles to select.  We have multiple linked accounts and roles.  Could it a race issue of some sort?

$ awscli help
Username: xxxxxxx
Password:

Multi-Factor authentication is required. Please select a factor to use.

[2018-03-24 12:58] AlainODea commented on #105
Arguably, **withokta** and **awscli** could have `-Djava.net.useSystemProxies=true` in the JVM args. That should do the right thing in most cases.

The enviroment or config Java pulls the system proxy settings from with that setting enabled is undocumented, so YMMV.

It might be better to explicitly detect proxy environment and use it. It does open a can of worms with respect to APIs accessed thro

[2018-03-27 01:39] AlainODea commented on #106
App-level MFA policies are not supported. For details see #25

[2018-03-27 17:24] ziemowitp commented on #106
I see.  So just to recap: setting up MFA "Sign On Policy" in individual applications isn't supported.  Thank you.

[2018-03-27 17:25] #106 closed

[2018-03-27 21:41] mozillamonks opened #107 "Doesn't work with external default identity provider"
In our org we use Google as our default idp, and in this situation the CLI tool falls down. In an ideal world it would be good to have another way to perform this style of auth, perhaps by kicking open a browser windows or having a way to open an Okta page and enter a keycode to finish the authentication with the external provider.

If this is already possible, I may be missing it.

[2018-03-28 11:02] liquid-sky commented on #82
Hi @AlainODea,

Sorry for the delay. We have a role that has only one permission - assume roles in different accounts. In previous version of this tool, after the main role is assumed, the policies would be queries to check if it's linked to different accounts and then it would present with a choice of roles to assume from the list of available ones. This workflow no longer works.

[2018-03-28 22:14] AlainODea commented on #82
@liquid-sky what you describe is not a supported way of using the Amazon Web Services Okta app. The old way was complex and could not be scaled or generalized. That’s why Okta changed it. It’s also why I rewrote this tool to follow the new way. This issue is closed and will not be fixed.

Follow this guide for a supported integration with multiple AWS accounts: **Connect Okta to Multiple AWS Insta

[2018-03-30 16:08] garyrobert opened #108 "Extend STS Session Time"
AWS recently updated their policy to allow for STS tokens up to 12 hours.

https://aws.amazon.com/about-aws/whats-new/2018/03/longer-role-sessions/

There are two changes that are required to use extended session tokens.

1) An IAM admin in the AWS console will need to extend the Maximum CLI/API session duration for the IAM role created for Okta.

![image](https://user-images.githubusercontent.com

[2018-04-04 23:07] brasstax commented on #102
Hi Alain,

Do you know if there are eventual plans to support app-level MFA?  If so, and if it will help for tracking purposes, I can open a new issue. I'm running into a similar issue with app-level MFA not working.

Thank you.

[2018-04-05 00:28] AlainODea commented on #102
@brasstax I’m not an Okta employee. As a fellow Okta customer. I have heard no specific plans to support app-level MFA. Your account manager may know.

Similar to Duo Push, app-level MFA could be supported by delegating the auth flow to a web browser. My prorities have been shifted off this project, so I won’t be pursuing that, but it would be an exceptional contribution if you know how.

[2018-04-05 00:33] brasstax commented on #102
Ahh, my apologies, I thought you were.  I can talk to my account manager and see they recommend I open a new issue entirely.

[2018-04-06 17:40] jonjohnston commented on #108
Yes this is a very important option for our company. We have been waiting for Amazon to release this. Hoping this can be implemented into the okta-aws-cli-assume-role ASAP

[2018-04-09 16:13] jpcollins commented on #51
AWS now allows this to be more than an hour:
https://aws.amazon.com/about-aws/whats-new/2018/03/longer-role-sessions/

https://docs.aws.amazon.com/cli/latest/reference/sts/assume-role-with-saml.html

See #108 as well.

[2018-04-14 20:44] AlainODea commented on #107
The tool currently doesn't support that.

It's quite involved to change this tool to use a web browser for the auth flow. Adding web browser-based auth would implicitly add support for per-app MFA and Duo Push along with support for external IdPs (assuming they have sufficiently expressive RelayState support).

I'm no longer working on this, but I wanted you to get an answer.

[2018-04-14 20:51] AlainODea commented on #108
@jonjohnston the way the tool is currently written it keeps refreshing the Okta session and updating the derived AWS profiles. As long as you periodically call `withokta $profilename true` you'll keep that session usable by other code indefinitely.

My experience is that the timeouts are set to the timeout configured on the Amazon Web Services app in my Okta Org.

@garyrobert given that the tool a

[2018-04-14 22:45] slancio commented on #108
Yes, this really needs to be at least configurable.  We have long-running jobs we want to be able to run where periodically running withokta is kind of undesirable.  We can make do with that but making the AWS features is better.

[2018-04-15 14:00] AlainODea commented on #108
Do any of you write Java? This is a pretty straight-forward change and someone motivated by necessity would deliver it more effectively.

I can provide some guidance on how to implement this if someone is willing to do the coding and the testing.

[2018-04-15 14:01] AlainODea commented on #108
Full disclosure, I don’t work for Okta. Most of the recent contributions to this project (including mine) are community contributions (from outside Okta) and that makes for a healthy project.

[2018-04-16 00:13] slancio commented on #108
I'm a developer, though not a Java one.  It's fairly easy to change the number for the timeout, but I'm happy to hear what a preferred solution might look like and take a try at it.

[2018-04-16 02:29] AlainODea commented on #108
@slancio thank you!

I recommend the following approach (the names are up to you):
1. Add support for a new **config.properties** setting. Add something like **OKTA_STS_DURATION** to **OktaAwsConfig** similar to how **OKTA_PROFILE** is done here:
https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/master/src/main/java/com/okta/tools/OktaAwsConfig.java#L32
2. Add a field to the common en

[2018-04-16 14:43] Hervian opened #110 "Programmatic access to the Okta AWS CLI functionality"
*Question*

Hi, I want to construct a GUI around the Okta AWS CLI tool. Or rather, around my AWS services and
accounts, but being an Okta customer, I must use the Okta AWS CLI functionality for login.

Is this possible?

I can add a the project as a dependency to my own Java project using JitPack. But the jar file seem to contain a module-info.class which does not expose any packages.
This is the

[2018-04-16 17:31] AlainODea commented on #107
Once there is a release based on #109, you should be (in principle at least) able to get this working by setting **OKTA_AWS_APP_URL** to your external IdP's URL assuming you have configured or appended the RelayState to it correctly.

[2018-04-16 17:32] AlainODea commented on #102
Once there is a release based on #109, you should be (in principle at least) able to get this working. If you want this prior to that point, you can build master using maven and try it.

[2018-04-16 17:32] AlainODea commented on #58
Once there is a release based on #109, you will be to get this working. I have explicitly tested this to be fixed. If you want this prior to that point, you can build master using maven and try it.

[2018-04-16 17:32] AlainODea commented on #25
Once there is a release based on #109, you should be (in principle at least) able to get application-level MFA working. If you want this prior to that point, you can build master using maven and try it.

[2018-04-16 17:34] AlainODea commented on #24
Once there is a release based on #109, you should be (in principle at least) able to get hub/spoke use of this working by setting **OKTA_BROWSER_AUTH** to **true** and **OKTA_AWS_APP_URL** to your hub Okta IdP URL assuming you have configured or appended the RelayState to it correctly.

[2018-04-16 17:57] AlainODea commented on #102
My colleague pointed out that my solution to this is incomplete. It will not crash on subsequent MFA challenges within the same session (if you set every time or some time lower than the Okta session timeout) when invoking the Amazon Web Services application. You'll need to delete **~/.okta/cookies.properties** if you encounter this. Sorry about that.

[2018-04-16 17:57] AlainODea commented on #25
My colleague pointed out that my solution to this is incomplete. It will not crash on subsequent MFA challenges within the same session (if you set every time or some time lower than the Okta session timeout) when invoking the Amazon Web Services application. You'll need to delete **~/.okta/cookies.properties** if you encounter this. Sorry about that.

[2018-04-17 01:25] slancio commented on #108
https://github.com/oktadeveloper/okta-aws-cli-assume-role/pull/111  This is slightly more involved than suggested, but let me know if it needs more work.

[2018-04-17 11:56] AlainODea commented on #110
@Hervian this is architected as an application and not a library.

If you're up for it, extracting the library elements into a reusable module would be very useful.

The new **BrowserAuthentication** class is particularly unfriendly for library use, but it could be kept in the app part of the modular separation.

[2018-04-17 11:58] AlainODea commented on #110
As for the Java 9 stuff, I bulldozed that into a baseline functioning system, but didn't actually think properly about JPMS in the process at all. If you are experienced with JPMS, cleaning that up would be very welcome as well :)

[2018-04-17 16:49] ctoa commented on #38
@AlainODea Did you know if someone manage to take a look at this? Thanks!

[2018-04-17 20:04] AlainODea commented on #38
@ctoa you are correct. You should try #111. It should fix your issue.

[2018-04-17 20:07] AlainODea commented on #38
@mraible this is not fixed. Confirmed today that the sessions are bound by the 3600 second limit hardcoded in this codebase.

This should be reopened pending #111.

[2018-04-19 06:36] Hervian commented on #110
Thanks, I will try to do some small refactoring with the aim of enabling library usage of the project - and when done create a pull request.

I think my strategy will be as follows:
- Extract credentials login, MFA login, role selection etc into library components, capable of accepting input from the user of the library instead of being "hardcoded" to prompt for input.
- Make credentials be passed

[2018-04-19 10:31] AlainODea commented on #110
When I write “modular separation”, I was thinking JPMS modules within this same codebase as a start. Maven modules would be useful later. Only take this as far as you need to for your use case. Someone will come along who wants to depend on the library part externally and they can make the Maven piece happen :)

[2018-04-20 21:00] AlainODea commented on #108
@andreihava-okta this can be closed. It is fixed.

[2018-04-24 21:32] DasChebattina opened #113 "aws cli reassign the tocken"
Hello,
I am able to setup 'okta-aws-cli-assume-role' tool successfully.
Ran  'awscli sts get-caller-identity' command followed by aws cli commands (ex: aws s3 ls) with the  --profile <profile created by the tool>
Once the token expired after 1hr,  get this error when I ran aws s3 ls --profile <profile name>.
_An error occurred (ExpiredToken) when calling the ListBuckets operation: The provided tok

[2018-04-26 10:53] AlainODea commented on #113
This tool generates and stores AWS profiles in the standard AWS config and AWS credentials files. It can’t update them unless you run it explicitly.

You’ll need to periodically call through this tool to keep the AWS profile session from expiring.

I recommend using named profiles via the OKTA_PROFILE environment variable or config property. The tool will maintain the named profile and refresh it

[2018-04-27 09:51] AlainODea commented on #107
@mozillamonks the v1.0.2 release includes OKTA_BROWSER_AUTH support. That might work for your use case.

[2018-04-27 10:44] AlainODea commented on #58
@mraible this can be closed. It’s fixed by #109 and is in [v1.0.2](https://github.com/oktadeveloper/okta-aws-cli-assume-role) 😊

[2018-04-27 10:46] AlainODea commented on #58
@jfhamlin please try v1.0.2 with OKTA_BROWSESR_AUTH=true in okta.properties.

[2018-04-27 11:08] #58 closed

[2018-04-27 13:58] mraible opened #114 "Change deployment to OSSRH since packagecloud has been disabled"
http://central.sonatype.org/pages/ossrh-guide.html

It'd also be cool to automate the GitHub release process so the following happens:

1. Create a new release locally with Maven.
2. Release gets created on GitHub.
3. Release notes include link to download JAR from Maven Central, or uploads JAR to release.

OR:

1. Create a new release on GitHub.
2. Travis releases to Maven Central.
3. Travis adds

[2018-04-27 13:59] mraible commented on #114
@bdemers Let me know if you have any advice on how to implement this.

[2018-04-27 16:14] jfhamlin commented on #58
Thanks! I’ll give it a try

[2018-04-27 16:48] alebaldo opened #115 "Add authentication support when using AWS java sdk"
Hello,
I've made some changes to OktaAwsCliAssumeRole class in order to add support for authentication through java sdk.
With these changes the tool can be used with both CLI and java sdk.

I tried to create a PR, but it seems I don't have permission to do so.

Thanks.

[2018-04-28 16:53] AlainODea commented on #115
This sounds great 😊

You should be able to make a pull request. Can you link to the branch on your fork with your changes?

[2018-05-02 08:33] jimsmith commented on #58
@AlainODea
Hello,

Tried v.1.0.2 this doesn't work throw's an Exception:
[code]

Java installed `sudo yum install java-1.8.0-openjdk-headless.x86_64`

v1.0.1 gives different error, which I can confirm the same username and password I do have access to AWS through Okta via web https://REDACTED.okta.com/

[code]

[code]

[2018-05-02 10:13] AlainODea commented on #58
@jimmarks the first error is because BROWSER_AUTH depends on Java FX and your JRE doesn’t have it.

Java FX may not be included in the openjdk8-jre package on many Linux distros. You may need the openjfx package instead. https://stackoverflow.com/a/19529820

You could also install the Oracle JDK and that should work.

I haven’t tried this on Linux.

The second error looks like app-level MFA is ena

[2018-05-03 13:21] jimsmith opened #117 "WithOkta throws an Exception"
[code]

**Issue**: After using WithOkta and getting Duo Push (built-in web browser gui opens) I authenticate and then get list of aws roles for assuming, I select the one I have access to and gives following error:
[code]

config.properties
[code]

[2018-05-03 19:34] AlainODea commented on #58
@jimsmith **OKTA_BROWSER_AUTH** needs a graphical desktop environment. There is no supported way to do Duo Push authentication with Okta without a graphical web browser.

You will not be able to use Duo Push as the factor auth in the setup you are describing.

I recommend that you remove **OKTA_BROWSER_AUTH** from **okta.properties** and use the Google Authenticator MFA option. You can scan the QR

[2018-05-07 09:27] #117 closed

[2018-05-07 09:28] jimsmith commented on #117
Aligned OKTA_STS_DURATION to STS session timeout at AWS side.

[2018-05-07 18:14] jmahowald opened #118 "more control/predictability of profile name"
The previous version we used of this would create an aws profile called default.  Now it appears that the suffix of _source is always appended on, even if I specify AWS_PROFILE

This makes it so that in order to use this we will need to specify a different value for using the CLI, i.e. in one case I need

${AWS_PROFILE}_source and when invoking I just use AWS_PROFILE. Our current tooling had expec

[2018-05-07 20:09] jmahowald commented on #118
https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/master/src/main/java/com/okta/tools/aws/settings/Credentials.java#L55 is where this is being set

[2018-05-08 09:56] hao-public opened #119 "OKTA_AWS_ROLE_TO_ASSUME does not work"
I cannot get the OKTA_AWS_ROLE_TO_ASSUME property to work. I test with an AWS account where I have access to 2 Federated IAM Roles: Admin and Developer.

I add the following line to the config.properties file:
OKTA_AWS_ROLE_TO_ASSUME=Admin

However, the tool still presents me with the choice of selecting either the Admin or Developer role from from the command line.

[2018-05-08 09:59] hao-public opened #120 "Integrated web browser authentication doesn't work reliably"
When I use the OKTA_BROWSER_AUTH=true property in the config.properties file it will very often just sign me into AWS, after I select a Role. It doesn't return to the commandline where I executed the jar-file. It doesn't store a session token for me. If I repeat it many times, it will suddenly work - but only rarely.

[2018-05-10 15:15] davidsuehring commented on #120
This is the behavior I'm seeing as well. The Java browser shows up, I'm prompted to authenticate and enter my Google Authenticator MFA token, and then am presented the list of roles in the Java browser, rather than on the command line.

[2018-05-14 15:04] smashling commented on #119
The way it works in the latest version, is after you select the role from the list, it remembers your profile and role. This way, you never need to select from the role list again after the initial setup. the command structure in the command line in the latest version is: aws profilename command. I reccomend updating to the latest jar if you have not yet.

[2018-05-17 00:16] julianbueno opened #121 "Error using ubuntu 18.04 LTS and openjdk10"
:~$ asm-auth
Username: xxxx
Password:

Multi-Factor authentication is required. Please select a factor to use.
Factors:
[ 1 ] : push
[ 2 ] : Okta Verify
Selection: 1

Push Factor Authentication
Waiting for you to approve the Okta push notification on your device...
20111Z.....

Please choose the role you would like to assume:
[ 1 ]: arn:aws:iam::xx
Selection: 1
[code]

[2018-05-17 01:42] julianbueno commented on #121
I followed this post
https://askubuntu.com/questions/336795/ubuntu-fix-dependency-problems
then
`sudo apt-get remove oracle-java8-installer`

[2018-05-17 01:42] #121 closed

[2018-05-18 20:08] shoekstra opened #122 "Not sure how to assume policy"
Hi,

In a previous version when I ran this tool I was prompted to select my okta role and then was presented a list of policies (aws roles) I could assume.

In the current version I can only choose the Okta role and there is no prompt for the role to assume - I presume this means I need to handle assuming the role myself?

[2018-05-18 22:40] jdreaver commented on #118
I'm curious, why is `_source` added at all?

I'd love to get rid of `_source`. Some SDKs try to read `~/.aws/credentials` directly instead of `~/.aws/config`, so you have to set `AWS_PROFILE=my_profile_source` when using them.

Is this easy to fix? I'm sure we could remove `name = name + "_source";`, but I'd like to know why it is there in the first place.

[2018-05-18 22:44] jdreaver commented on #118
In fact, why is `source_profile` set at all in `~/.aws/config`? Can't this tool just create an entry in `~/.aws/config` and `~/.aws/credentials` with the same name, and leave `source_profile` off entirely?

[2018-05-21 19:34] mfulgo opened #123 "Provide a Homebrew Formula"
It would be nice to be able to install this on a Mac using homebrew: Something like
[code]

https://docs.brew.sh/Taps

[2018-05-22 23:18] loopingz opened #124 "Classpath property"
I did an update in the past to be able to load the config.properties from the classpath.
It has been removed with recent modification.

Why loading from the classpath, this way you distribute to your team a simple jar that is already configured for your environment, and the packaging is simple:
[code]

Should I start using a fork or will you consider adding it back?

As a side note, I'm at Oktane

[2018-05-23 10:41] mrminecart commented on #122
Same where. okta seems to write the credentials into my .aws folder but doesnt set a default anymore.

[2018-05-25 13:53] hao-public commented on #119
Thank you.

[2018-05-25 13:53] #119 closed

[2018-05-25 13:55] hao-public opened #125 "Support for MFA Yubico FIDO/U2F key"
Will it be possible to support the Yubico FIDO/U2F key with MFA?

[2018-05-26 14:51] AlainODea commented on #125
Yubikey MFA works already for a colleague of mine.

It doesn’t work with app-level MFA.

What are you seeing?

[2018-05-26 15:27] AlainODea commented on #123
That's a good idea and would be a useful contribution. Do you want to pursue that?

Looks like you could start with this okta-aws-cli.rb:

[code]

There's no distribution build with the scripts like awscli and withokta needed to use this post-install which it would be annoying to use would. That should be added as well.

Here's a modified version of an install script I use to roll out to staff at

[2018-05-26 15:40] AlainODea commented on #124
You're right.

It looks like support for config.properties on the classpath was lost. Sorry about that.

It could be restored here as a fallback for absent configuration:
https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/master/src/main/java/com/okta/tools/OktaAwsConfig.java#L19-L25

[code]

I would support that functionality being restored.

[2018-05-26 15:48] AlainODea commented on #122
@shoekstra I may not understand your use case properly as I couldn't get the old style integration working.

@mrminecart the lack of configuring default is frustrating. That's a separate concern from assuming policies, so please create another issue for it 😃

The current version caches the mapping from profile name to role in an INI-formatted file at ~/.okta/profiles.

If you specify a profile tha

[2018-05-26 15:57] AlainODea commented on #120
That's very strange. This has been rock solid for the dozens of cloud ops and devs we have using it. I suspect it's a network environmental issue or a different AWS configuration I hadn't anticipated.

Here's the code responsible for guessing that the AWS SAML signin page has been reached successfully after SAML authentication:

https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/c9909a

[2018-05-26 15:59] AlainODea commented on #118
_source is a workaround for AWS PowerShell SDK which chokes if the ~/.aws/config profile name and ~/.aws/credentials profile name are the same:
https://github.com/oktadeveloper/okta-aws-cli-assume-role/commit/c867925c874d623219ae7f1d5f8464724b6b6ea6

It's not elegant and it's an annoyance for us too. Sorry about that. If the AWS PowerShell SDK bug has been fixed, this workaround can be removed.

[2018-05-26 16:00] AlainODea commented on #115
@mraible #116 was merged and addresses this. This can be closed.

[2018-05-26 16:04] jdreaver commented on #118
Ah that makes sense, I figured it had to be weirdness in _some_ tool. Thanks for the explanation! I'm currently just working around this with a bash script and a little `sed`, so no big deal.

[2018-05-26 16:13] mfulgo commented on #123
Yeah, I'm fine with exploring it. It'll just likely be a few weeks before I can get around to it. This issue was partly feature request and partly a reminder if no one else could implement it quickly. =P

[2018-05-26 17:23] #115 closed, assigned to nobody

[2018-05-29 16:57] repl-mike-roest opened #126 "Feature Request: Support Multiple AWS App's"
We have multiple AWS accounts that we authenticate to through one Okta account but multiple AWS Apps.  It would be great to allow choice of AWS app similar to how the prompt for multiple roles works.

[2018-05-29 23:54] loopingz commented on #124
Thanks @AlainODea

Yes, you got the idea, do you want me to PR? You already did everything so the credit should go to you.

[2018-05-31 23:19] beiriannydd opened #127 "Really remove jar?"
Purging the oktaawscli.jar and the joda-time jar from the history would drastically reduce the overhead for this repo.  It would mean history rewrites though, so I can understand if it's not a high priority.
[code]
These all still live in the bare repo.

[2018-05-31 23:21] beiriannydd commented on #127
`https://github.com/nachoparker/git-forget-blob/blob/master/git-forget-blob.sh` is a handy tool for cleaning single files.  It'd need a little tweaking for all these.

[2018-06-01 18:41] beiriannydd commented on #127
Hi Mraible, this isn't the sort of thing that you can pull request, it modifies the history.  Anything merged via pull request can only increase history.

[2018-06-03 14:15] AlainODea commented on #127
This is a neat idea. I support this. The historical JARs do dramatically bloat this repo a **lot**.

@mraible this is worth doing and is fairly straight-forward since we only have a master branch.

For a while afterwards, I recommend using only squash and merge on PRs to avoid reintroducing the bloated history. All PRs in flight at the time would need to be rebased (the contributors would need to

[2018-06-03 14:19] AlainODea commented on #124
Please. Sorry, I meant to get back to you earlier.

[2018-06-03 14:20] AlainODea commented on #124
I'd prefer to promote contributors like yourself rather than taking credit. I've just napkin-sketched an idea with no testing so I shouldn't be credited for it.

This project will really thrive with a few folks like you actively looking at it.

[2018-06-03 14:53] AlainODea commented on #126
Interesting idea. I think this is achievable and it would make the minimal configuration org name-only which would make rollout easier.

On login the Okta web UI hits this endpoint:
`https://{{OKTA_ORG}}/api/v1/users/me/home/tabs?expand=items,items.resource`

It pulls down a structure like this:
[code]

A full, scrubbed example is linked here:
https://gist.github.com/AlainODea/e258213113039e6f94fa

[2018-06-04 14:15] repl-mike-roest commented on #126
Hey @AlainODea ,
   I guess I jumped the gun a bit when I opened this request.  It looks like we're actually planning to have everything running under one App (we're still early in our Okta life) so looks like this isn't really required.  If we change our minds I'll open this back up and start working based on your direction.  Sorry.

[2018-06-04 14:15] #126 closed

[2018-06-04 14:52] AlainODea commented on #126
No worries, @repl-mike-roest. Thank you for getting back to me. If you or your users have technical challenges adopting this, feel free to open issues and I'll try to help where I can.

[2018-06-04 15:14] repl-mike-roest commented on #126
The _source credentials/configs issue is causing a bit of a headache for us with terraform as it doesn't seem to handle configs vs credentials I've written some batch files to help our users (just setting AWS_PROFILE=<profile>_source).  That seem to work on first glance.  As we move more into it if we run into issues I may come seeking help.

[2018-06-04 15:52] pbrisbin opened #128 "[Feature request] OKTA_{PASSWORD_CMD,MFA_CHOICE}"
Hi there-

Thanks a ton for this great tool, it's making it super smooth for us to include AWS API access with our "everything via Okta" initiative. I would like to request two variables be added to `config.properties` support:

- `OKTA_PASSWORD_CMD=<shell command>`

  If present, this command will be invoked to get the password

  This can be use to read from `pass(1)`, 1Password CLI, netrc, what

[2018-06-04 16:29] AlainODea commented on #128
I like this idea, @pbrisbin !

This is neat.

Give that this tool already shells out to random things passed in argv, I think allowing arbitrary commands in OKTA_PASSWORD_CMD is an acceptable added risk :)

The naming you suggest seems reasonable.

For OKTA_MFA_CHOICE, I'm not sure numbers will work. The order of the factors changes depending on recent factor usage. It might be better to set a typ

[2018-06-04 16:40] pbrisbin commented on #128
To complete the operation, do you need to know only the _Provider Type_ also the _Factor Type_?

I agree the _Provider Type_ values make sense, so the you gave there seems great to me. If you need to be given both provider and factor type, then maybe `{Provider}.{FactorType}` might be good, e.g. `OKTA.push`

[2018-06-04 17:58] AlainODea commented on #128
Good point. It's the factor type, not the provider type.

https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/810d19b0d116bb11a5bafbab647db9d7d0be5bd0/src/main/java/com/okta/tools/authentication/OktaMFA.java#L32-L61

[2018-06-04 23:11] AlainODea commented on #126
@repl-mike-roest we run into that too and use a similar workaround.

_source is an unfortunate workaround for a weird bug in the PowerShell SDK preventing the use of a profile if the credentials profile has the same name.

We couldn’t find a viable alternative for PowerShell. I’ll take a look and see if this bug is fixed in the AWS Tools for Windows PowerShell yet.

[2018-06-05 00:32] repl-mike-roest commented on #126
Hmm maybe a property/environment variable for those of us who don't need the PowerShell compatibility? Would make things much simpler.

[2018-06-05 02:09] AlainODea commented on #126
Just confirmed the bug (or maybe feature) of the AWS Tools for Windows PowerShell is still there: a ~/.aws/config profile with a source_profile of the same name is still not loadable.

I like the environment variable idea. Possibly **OKTA_SOURCE_PROFILE_SUFFIX**. It could default to **_source** if unset.

This is a fairly self-contained contribution. Are you willing to run with this?

In [OktaAWSC

[2018-06-05 03:32] repl-mike-roest commented on #126
Yep I'll give it a whirl

[2018-06-07 16:10] loopingz commented on #124
@AlainODea ok, I'm travelling in the next weeks, but will try to contribute it back in the next days

[2018-06-08 01:10] pc-fmarin commented on #125
I'm getting the following error when authenticating with U2F and 1.0.2 version of okta-aws-cli-assume-role

`Multi-Factor authentication is required. Please select a factor to use.
Factors:
[ 1 ] : FIDO u2f
[ 2 ] : Okta Verify (Push)
[ 3 ] : Okta Verify (TOTP)
Selection: 1
Exception in thread "main" java.lang.RuntimeException: You do not have access to AWS through Okta.
Please contact your adminis

[2018-06-09 12:14] AlainODea commented on #125
@pc-fmarin do you have the AWS app assigned to you in Okta?
Are you using app-level MFA?

[2018-06-11 14:03] jeffersonhaw-okta opened #129 "Mac Sierra can't load or find main class"
HI

I've downloaded the jar, config.properties and the contents of the bin file into a .okta folder.

Also configured the configuration properties to point to the right okta instance. Okta instance has been configured properly with AWS to do SAML.

Once running the command ./awscli sts get-caller-identity

I get an error Error: Could not find or load main class com.okta.tools.awscli

Anything I've

[2018-06-11 14:13] jeffersonhaw-okta commented on #129
found the issue.. something wrong with the classpath

[2018-06-11 14:13] #129 closed

[2018-06-12 12:35] pc-fmarin commented on #125
Yes I have AWS app and no it's not app level, it's one MFA for all of Okta and the apps I've got assigned

[2018-06-12 22:58] AlainODea commented on #125
@pc-fmarin this kind of failure indicates that Okta is not

OKTA_AWS_APP_URL must be the app embed URL. If visiting it while authenticated leads to a redirect this tool will not work.

Does OKTA_AWS_APP_URL work if you copy paste it into a web browser?
Does the web browser use a proxy?

Have you tried OKTA_BROWSER_AUTH?

[2018-06-21 19:02] pc-fmarin commented on #125
@AlainODea when I set that property it boots a desktop app to login which has the `Security Key (U2F) is not supported on this browser. Select another factor or contact your admin for assistance.` error.  Also the following error immediately happens in the CLI

`
export OKTA_BROWSER_AUTH=true
~/.okta$ ./awscli ec2 describe-instances --query 'Reservations[*].Instances[*].[InstanceId,State.Name,Stat

[2018-06-22 00:53] AlainODea commented on #125
@pc-fmarin interesting. It looks like my colleague was using a Yubikey in a token mode rather than FIDO U2F mode.

FIDO U2F will likely require an integration with a full browser like Firefox, Microsoft Edge, or Chrome. Okta's FIDO U2F verification flow requires calling a JavaScript API that the embedded WebKit in JavaFX WebView appears not to support:
https://developer.okta.com/docs/api/resources

[2018-06-27 20:33] JLambeth commented on #113
I don't believe that this addresses the issue. I am facing a similar problem:

When I run `awscli sts get-caller-identity` once, I am asked to enter my credentials, choose a role, etc. The command completes successfully. If I execute the command again _immediately_ after seeing it complete successfully, I get the error:

`Exception in thread "main" java.lang.IllegalStateException: Duplicate key ..

[2018-06-27 20:55] AlainODea commented on #113
**cookies.properties** is your Okta session effectively. Without that the 60 minute timeout can’t be determined because the tool sees you as having no session.

What does cookies.properties contain for you? Describe or mask the values as they are true authentication material.

It should be like this:

[code]

The names before the equals signs are not sensitive.

[2018-06-27 21:07] JLambeth commented on #113
The **cookies.properties** file contains these values:

The Duplicate key error is caused by the value of DT in the cookies file.

[2018-06-28 16:16] AlainODea commented on #113
Interesting. I wonder why DT causes that. I have a DT entry as well.

It looks like there are multiple versions of the same cookie in the CookieStore.

There's a way to ignore this by providing a merge function to ignore duplicate keys here:
https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/master/src/main/java/com/okta/tools/helpers/CookieHelper.java#L66

Here's the fixed line:

[cod

[2018-06-28 21:30] mraible commented on #127
I haven’t done this yet, but hope to soon.

[2018-06-29 07:23] felimartina commented on #113
I just started using this project and I'm facing the very same issue. Unfortunately, I don't have any java experience to be able to file a PR :/

[2018-07-02 14:35] ghost opened #134 "Not asked for MFA at all"
Hi after reading about some issues I still don't have 100% clear if what I'm trying to do is possible or not.

As far as I understood okta-aws-cli-assume-role is capable of doing the MFA so Okta in this case as my IdP can send me a push notofication to my phone via "okta verify" right?.
I've been reading all the comments and issues, and all of them are asked for MFA, but I'm not even asked...And o

[2018-07-02 14:38] poljane commented on #134
ok I see, in

issue: https://github.com/oktadeveloper/okta-aws-cli-assume-role/issues/106

but what about asking? I'm not promted for anything related to MFA it just works or fail and Okta logs says "Success".

[2018-07-02 20:42] jpickeri93444 opened #135 "Providing Access Across Multiple AWS Account via Okta"
We are trying to consolidate all of our AWS account under one master account. We use Okta as a SSO solution. Seems quite simple and there are good instructions available (https://saml-doc.okta.com/SAML_Docs/How-to-Configure-SAML-2.0-for-Amazon-Web-Service). But there seems to be a limit of 60 according to https://support.okta.com/help/Documentation/Knowledge_Article/Support-for-Multiple-Accounts-i

[2018-07-04 15:35] midN opened #136 "Broken README"
Installation part https://github.com/oktadeveloper/okta-aws-cli-assume-role#installation
starts with:

1. Make ./okta dir
2. DL latest JAR
3. Create config.properties
4. Copy .okta/bin files

Where did exactly bin folder appear from? :)
I think you missed extraction part as well as location of files from extracted JAR.
I've extracted JAR and it does not include `bin` dir in root directory.

P.S Sa

[2018-07-05 20:37] AlainODea commented on #134
The problem is that app-level MFA is post-authentication when it hands off to the app. The need to prompt is not visible in the API or the error response. There's not really any present way to distinguish between a generic failure and a failure due to the need for app-level MFA.

Please go ahead and close this issue. No fix is possible without changes to the Okta APIs.

[2018-07-05 20:51] AlainODea commented on #136
You're right. .okta/bin doesn't exist. It's probably intended to refer to [the bin directory in this repo](https://github.com/oktadeveloper/okta-aws-cli-assume-role/tree/master/bin)

It should probably be like this.

The awscli script is pretty limited as it can only work with the **aws** command. There's a way to use it to support the **aws** command more flexible and also support other tools lik

[2018-07-05 21:02] AlainODea commented on #135
This is technically possible, but involved.

It's out of the scope of this project to solve.

Pre-requisites:
1. Each group of 60 AWS accounts would need a distinctly named SAML Identity Provider
2. Each group of 60 AWS account would need a distinct Amazon Web Services Okta app
3. You would need different ~/.okta/config.properties for each or you'd need to contribute code for enumerating and provi

[2018-07-09 23:34] Joeskyyy commented on #43
Hey @AlainODea is https://github.com/oktadeveloper/okta-aws-cli-assume-role/pull/131 supposed to be a fix for this? I wasn't able to get that fork working for GovCloud either :\ Looks like that fork still has the AWSSecurityTokenServiceClientBuilder pointing to `Regions.US-EAST-1`

Any work on when a fix could be coming for that? Major issue for us using Okta and AWS right now

[2018-07-10 12:14] AlainODea commented on #43
@Joeskyyy no. That fix covers profile regions, but not STS regions.

It would be straight-forward to springboard off that fix to fix this since it adds **awsRegion** to **OktaAwsCliEnvironment**. That could be used directly to set the region used for STS.

Are you up for developing, testing, and contributing that?

[2018-07-10 19:54] Joeskyyy commented on #43
Yeah, I was toying around a bit yesterday with the variable available in `OktaAwsCliEnvironment` but my java foo is rusty and was running into some issues haha

I was trying a rudimentary if/else block around the connection and not getting any luck. Oddly enough, even when I compiled a JAR with an explicit `Regions.GovCloud` I received issues, granted it wasn't the same one I was getting before, I

[2018-07-12 13:19] tchilcutt opened #137 "Extending CLI session duration & Okta+awscli setup documentation"
Hello, I recently had an Okta support case (# 00465201) open for this, but after a little back and forth the case owner advised that I instead open a Github issue ticket for the dev team to address.

My initial inquiry is about extending the duration of CLI sessions.  I know there have been other questions about this, but earlier this year AWS introduced the ability to extend the CLI session for f

[2018-07-16 10:17] GavrielNsof opened #138 "Sometimes OSX users get an empty list of roles"
When running "awscli sts get-caller-identity", sometimes OSX users get no roles to choose,
Example:
[code]

After running the command a couple of times (random number) the list will appear.
Is this a known issue and is there a fix?

[2018-07-16 15:15] tchilcutt commented on #137
Hello, I am still looking for some assistance here.  Thank you.

[2018-07-18 12:51] sbrandtb commented on #138
This is not an issue with OSX. It happens for us in Docker containers as well. We debugged and tracked it down to AWS sending broken HTML. You know the page when you login to AWS using Okta where you can select your roles from multiple accounts? That's the one it's parsing and it seems like currently AWS is sending different versions - one broken and one non-broken, depending on the backend server

[2018-07-18 13:13] GavrielNsof commented on #138
Thanks for the quick answer, will love to know once this is resolved.
Just another quick question: are you sure it's not related to OSX? 3 of our OSX users experienced this while the other 10 ubuntu users did not

[2018-07-18 15:46] sbrandtb commented on #138
@GavrielNsof I'm not 100% sure why it only seems to happen on OSX. We're two developers here trying out the Okta-AWS integration. One with Ubuntu, one with OSX. In fact, it does not happen on Ubuntu, but on OSX *even* in a Docker container, which should be Linux.

So our best guess is that Ubuntu somehow receives only the correct answer and that the underlying issue even propagates into the Docker

[2018-07-18 16:00] GavrielNsof commented on #138
Not sure if it helps but other SAML tools don't have this problem on OSX, (saml2aws for example)
(they do lack other features though).

[2018-07-18 16:05] sbrandtb commented on #138
@GavrielNsof I think that's because all tools I've checked so far are not using the page rendered by AWS

[2018-07-19 09:16] sbrandtb commented on #138
So, we analyzed this one further and came to conclusion that it's actually an issue with the jsoup library. I will create a merge request within the our

[2018-07-19 14:32] robkinyon-roivant opened #140 "Passwords with spaces break on the commandline"
If I have a password with spaces, I have to put it into the config.properties. It does not work on the command line.

I'm specifically using Git-Bash on Windows, if that matters.

[2018-07-19 17:48] ghnboy commented on #120
I'm encountering the same issue here. It worked for me 2, 3 times only
It prompted to authenticate and enter my Okta Authenticator MFA token, and then am presented the list of roles in the Java browser, rather than on the command line.

I'm also seeing a java error while Java browser opened
Exception in thread "JavaFX Application Thread" java.lang.NullPointerException
        at com.okta.tools.aut

[2018-07-19 22:10] frosforever opened #141 "Configurations with nested configs improperly handeled"
Existing `~/.aws/config` with nested properties are overwritten improperly by this tool.
For example, `s3` configuration uses [indentation for its properties](https://docs.aws.amazon.com/cli/latest/topic/s3-config.html) e.g.
[code]
When `awscli` is run, the `config` is written out like so:
[code]
which is not correctly read by `aws s3` commands!

Specifically, the following test https://github.com

[2018-07-20 01:57] ghnboy opened #142 "OKTA_BROWSER_AUTH not really working"
I have OKTA_BROWSER_AUTH=true set in the config file, but instead of taking me back to the commandline prompt after authenticating with Okta, it will log me into AWS Console via the Java browser. I also got an Java error on the terminal
![image](https://user-images.githubusercontent.com/41447765/42979121-a289a0d8-8b9e-11e8-84ec-58756a32df76.png)

[2018-07-20 11:32] GavrielNsof commented on #138
Thanks @sbrandtb!

[2018-07-22 10:00] GavrielNsof commented on #138
@sbrandtb if I may ask, how did you update Jsoup? did you just download the jar (what path)?
Also, will this be fixed in the next okta-aws-cli version?

Thanks!

[2018-07-23 17:07] richievos commented on #138
Could we get a new release with this fix?

[2018-07-23 19:51] mraible commented on #138
I’ll try to do one this week, but I’m traveling in Greece, so might be tough. In the meantime, you should be able to clone the project and run “mvn package” to create your own copy with this fix.

[2018-07-23 19:53] #138 closed

[2018-07-24 05:23] atifrasheed79 opened #144 "Disable Re-Login Attempts"
There is no documented option to disable auto login attempts in case of invalid username and password. Now if it happens by mistake you get your account locked in matter of seconds. awscli shouldn't reattempt by default as standard identity policies these days lock account on consecutive 3 invalid attempts.

It should be disabled by default and give an option to enable auto re-attempts, or should

[2018-07-24 14:03] nj80750 commented on #138
Hi ..

Created the JAR file but it is giving a different error now. Although the issue with the empty list of roles seems to be fixed.

Attached is the error..

Exception in thread "main" java.lang.NoSuchMethodError: com.fasterxml.jackson.databind.JavaType.isReferenceType()Z
	at com.fasterxml.jackson.databind.deser.BasicDeserializerFactory.findDefaultDeserializer(BasicDeserializerFactory.java:1533

[2018-07-24 14:17] sbrandtb commented on #138
@nj80750 looks like you used the jarfile from my fork where I tried to reduce the jarfile's size by removing lots of unused AWS stuff. Unfortunately, this leads to the error you posted.

Please compile the jar file on your own or use [my updated one](https://github.com/FRI-DAY/okta-aws-cli-assume-role/releases/tag/v1.0.3-friday3).

[2018-07-24 23:30] AlainODea commented on #144
@atifrasheed79 good catch. Re-attempting with a saved password is guaranteed to fail. The cleverness of trying to handle interactive and stored config is biting back 😄

I'll take a look at this. Should be a quick fix.

[2018-07-24 23:34] AlainODea commented on #140
@robkinyon-roivant interesting. That's very strange. Using **OKTA_BROWSER_AUTH=true** in config.properties will move auth to a browser window which should side step this. Unfortunately it doesn't let you save your username.

I'll take a look at this.  I have a Windows VM I can test on.

[2018-07-25 00:06] AlainODea commented on #137
Not sure why no one from Okta acted on this. I'm converting a couple of install scripts I have and will contribute those soon. Windows, macOS, and Linux should work with these scripts.

[2018-07-25 00:10] AlainODea commented on #137
This is related to #88 and #93.

[2018-07-25 01:04] AlainODea commented on #142
Duplicate of #120. Fixed by #130 which has been merged but not released.

@ghnboy can you close this and follow #120 instead?

[2018-07-25 01:05] AlainODea commented on #120
Fixed by #130 but not yet released. A release with this fix in it should be coming soon.

[2018-07-25 01:07] AlainODea commented on #141
This is definitely a bug and very annoying for us as well. Sorry about this.

I think Ini4j doesn't handle nested properties. I think the AWS SDK writes the config directly without using an Ini file format library. We might have to do the same thing here.

[2018-07-25 01:15] AlainODea commented on #136
I have a plan to address this as part of #88.

[2018-07-25 01:17] AlainODea commented on #134
@mraible can you close this one. The user deleted their GitHub account and it requires Okta Platform service-side changes to fix.

[2018-07-25 01:18] AlainODea commented on #127
@mraible 👀 😁

[2018-07-25 01:19] ghnboy commented on #142
Closing this issue now, duplicated with #120

[2018-07-25 01:19] #142 closed

[2018-07-25 01:19] AlainODea commented on #123
@mfulgo any luck?

[2018-07-25 01:21] AlainODea commented on #122
@chris-whittick this is the issue you mentioned to me the other day. I think it's reasonably fixable.

[2018-07-25 01:23] AlainODea commented on #114
@bdemers this would be useful as there are some merged, but unreleased fixes here and this could streamline that process.

[2018-07-25 01:30] AlainODea commented on #110
@Hervian I think #116 fixes this. Is that correct? If so, can you close this issue?

[2018-07-25 01:31] AlainODea commented on #107
@mozillamonks have you had a chance to try this with OKTA_BROWSER_AUTH?

[2018-07-25 01:37] AlainODea commented on #124
@loopingz any luck with this?

[2018-07-25 02:30] AlainODea commented on #105
My fix for #88 includes proxy configuration based on Internet Options on Windows and http_proxy https_proxy environment on macOS/Linux.

[2018-07-25 02:30] AlainODea commented on #105
That fix is #146.

[2018-07-25 02:32] AlainODea commented on #93
@mraible my readme updates in #146 and the corresponding installer scripts should dramatically help ease of adoption for this tool.

[2018-07-25 02:46] AlainODea commented on #137
@tchilcutt I have installers for Windows and macOS/Linux coming in #146. They can be used today with minor tweaks.

Note: to set expecations: I don't work for Okta. I'm an Okta customer. I am not paid to work on this and do it mostly on my personal time.

[2018-07-25 03:01] AlainODea commented on #85
@mraible this can be closed. It's an unrelated issue due to installing AWSCLI using PIP which doesn't really work on Windows.

[2018-07-25 03:06] AlainODea commented on #43
@Joeskyyy I think you're right. It probably has to do with the region written to ~/.aws/config rather than this tool once **RoleHelper** is fixed and #131 is merged.

Do you want to roll up your **RoleHelper** fix into a PR?

[2018-07-25 03:16] #85 closed

[2018-07-25 03:57] #134 closed

[2018-07-25 04:03] dlgoodr commented on #85
Totally disagree. `awscli` from pip on Windows works marvelously in all cases except for when used by okta-aws-cli-assume-role. The fact that the tool can't support this use case is still a defect.

[2018-07-25 11:36] AlainODea commented on #85
@dlgoodr I don't appreciate this. I spent almost 10 hours trying to find fixes for you here. You paid nothing for that. You had almost 4 months to try my suggestions, particularly https://github.com/oktadeveloper/okta-aws-cli-assume-role/issues/85#issuecomment-375064040.

Supporting creating sub-processes for scripts (like PIP installs) on Windows is tricky. They are not full-fledged programs so P

[2018-07-25 12:39] #88 closed

[2018-07-26 00:06] Joeskyyy commented on #43
@AlainODea I'm actually still not having success with changing `RoleHelper` ): I tried changing it explicitly in the example above to `.withRegion(Regions.GovCloud)` and it was passing the `client_region` to us-east-1. To be fair, I didn't test this off a fork of #131, but we wouldn't want those changes in a PR since it wouldn't solve the actual problem.

I'm thinking after #131 is merged, since w

[2018-07-26 00:36] mfuery opened #149 "No selections listed"
[code]

I should be seeing 6 options.  This happens often, but not always.  Using v.1.0.2.

OKTA_ORG=benefitcosmetics.okta.com
OKTA_AWS_APP_URL=https://benefitcosmetics.okta.com/home/amazon_aws/0oa8ftulnWoma7AHY2p6/272
OKTA_USERNAME=michaelf@benefitcosmetics.com
OKTA_PASSWORD=XXXXXX

[2018-07-26 18:43] Ray-B commented on #85
Encountering this same issue as well, and it has been a time vampire...

The aws-cli userguide _implies_ the pip install route as the preferred method (https://docs.aws.amazon.com/cli/latest/userguide/installing.html).

Installing with the MSI also did not work for me, getting the same java error.

[2018-07-26 20:02] Ray-B commented on #85
Looking into this a bit further, it looks like there is a bug which causes okta-aws-cli-assume-role to fail when using python3 and aws-cli.

**How to Reproduce**

- Clean slate. Remove all versions of python and aws-cli
- Install Python 3.x
- Install aws-cli using either pip or the upgraded AWS CLI MSI installers (https://s3.amazonaws.com/aws-cli/AWSCLI64PY3.msi)
- Run the assume-role tool and it

[2018-07-26 20:04] mfuery commented on #149
Often times out
[code]

[2018-07-26 23:00] loopingz commented on #124
Sorry got lost in vacation, I'll get back to you

[2018-07-27 10:59] AlainODea commented on #85
Thank you for the analysis, @Ray-B.

It looks like other Java folks have encountered a similar problem, it appears that **ProcessBuilder** doesn’t respect **PATHEXT**:
https://stackoverflow.com/a/40670841

I think the solution to that is a bit tricky. It could fail from trying to run **aws** to trying to run **aws.cmd**.

I’m sure there is a more efficient way to handle this automatically.

For th

[2018-07-27 11:01] AlainODea commented on #124
No worries at all, @loopingz. Thank you for taking this on.

[2018-07-28 03:31] repl-mike-roest opened #151 "Issue with Windows using aws cli with python 3 installer"
AWSCLI has a new installer for windows that installs a python3 version of the cli.  It is no longer a exe, and is instead a .cmd batch script.  This seems to cause issues with the okta tool.

Previous version that works:
C:\Users\mike>aws --version
aws-cli/1.11.129 Python/2.7.9 Windows/8 botocore/1.5.92

New version that does not
C:\Users\mike>aws --version
aws-cli/1.15.66 Python/3.6.0 Windows/10

[2018-07-28 09:11] eperdeme commented on #136
Does the readme only work on a newer release of the JAR file? Everytime I follow it it just popups an embedded web console to AWS and nothing appears on the CLI.

Can you bake a new release to save me having to install MVN etc?

[2018-07-29 20:39] AlainODea commented on #151
@repl-mike-roest the best workaround I can think is to use PowerShell and the following in your PowerShell profile:

[code]

Once you have that in place you should be able to run commands like this:

[code]

It should run this after establishing or reusing your existing Okta and AWS session named **test**:

[code]

Give that a shot and let me know if it works for you.

[2018-07-29 20:42] AlainODea commented on #149
I've had a few reports of this, but I haven't been able to reproduce it.

I don't know what causes it. It's like the Okta session ends up in a bad state and can't generate the SAMLResponse for AWS properly.

The short term fix is running awscli logout and trying again.

If I had a reliable reproduction of the bug, I could develop a fix for it.

[2018-07-29 20:44] AlainODea commented on #85
@Ray-B it's worth trying the solution I posted here https://github.com/oktadeveloper/okta-aws-cli-assume-role/issues/151#issuecomment-408704347. Let me know how that works out.

[2018-07-29 21:31] AlainODea opened #152 "Opens AWS Web Console instead of going back to shell"
In certain cases, unknown cause right now. The Okta AWS CLI browser authentication window continues on to the AWS Web Console instead of switching back to the shell to pick a role.

Reported instances:
https://github.com/oktadeveloper/okta-aws-cli-assume-role/issues/136#issuecomment-408594220

[2018-07-29 21:32] AlainODea commented on #136
@eperdeme the readme should work for 1.0.2 release.

For the issue with browser authentication, please continue the conversation on issue #152. Thank you.

[2018-07-29 21:33] AlainODea commented on #136
@mraible I think the instructions in the readme work out of the box now sans some corner cases with browser auth which I'll chase down separately.

Can you close this? 😄

[2018-07-29 21:43] #136 closed

[2018-07-29 21:51] AlainODea commented on #152
This is part of the problem described in #120.

[2018-07-29 21:58] AlainODea commented on #151
@repl-mike-roest how are you installing AWS CLI? I just spun up a new Windows VM, installed using 64-bit Windows Installer from https://aws.amazon.com/cli/ and it worked.

I'll try it directly with pip now. Is there a particular reason why the Windows installer won't work for your environment?

[2018-07-29 22:09] AlainODea opened #153 "PowerShell profile crashes with no Internet Options proxy set"
Attempting to run **aws test sts get-caller-identity** on Windows after installing as described in the README fails:

[code]

[2018-07-29 22:14] AlainODea commented on #153
Workaround A:
If I set a proxy in Internet Options it works.

Workaround B:
If I edit the C:\Users\alain.odea\Documents\WindowsPowerShell\Microsoft.PowerShell_profile.ps1 (file pointed at by $profle) to be the following, it works:

[code]

The change is wrapping the proxy selection in an if statement:
[code]

[2018-07-29 22:16] AlainODea commented on #151
I installed Python 3.7 x86_64 for Windows using the web-based installer and chose to add Python 3.7 to PATH (I figure that's what people here are doing since otherwise not even pip is on the path).

This works (I updated it to fix a proxy selection bug #153):
https://github.com/oktadeveloper/okta-aws-cli-assume-role/issues/151#issuecomment-408704347

[2018-07-29 22:17] AlainODea commented on #85
See https://github.com/oktadeveloper/okta-aws-cli-assume-role/issues/151#issuecomment-408704347 for a working, tested workaround. It's a pretty light workaround only requiring tweaks to PowerShell profile.

[2018-07-29 23:26] #144 closed, assigned to nobody

[2018-07-30 05:56] eperdeme commented on #136
The readme does not work out of the box I guess the url to the jar is not fully formed;

➜  ~ curl 'https://raw.githubusercontent.com/oktadeveloper/okta-aws-cli-assume-role/master/bin/install.sh' | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  2783  100  2783    0     0  10708

[2018-07-30 09:44] AlainODea commented on #136
@eperdeme you’re right. There’s a typo in the macOS instructions. It should read ~/.okta/config.properties.

The JAR issue is a bug in https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/master/bin/install.sh. It should use curl -L to follow redirects.

Do you want to open a PR to fix those?

[2018-07-30 11:22] repl-mike-roest commented on #151
Thanks @AlainODea

[2018-07-30 11:22] #151 closed

[2018-07-30 11:55] AlainODea commented on #136
@eperdeme I just created #156 to fix this. It was a really quick fix.

[2018-07-30 21:34] felimartina commented on #113
Thanks a lot @AlainODea...this bug was really preventing me from using the CLI at the time.
I will get back to it and take a look. I am sorry I couldn't be of much more help and contribute...so double thanks and kudos to you!

[2018-07-30 23:42] pc-fmarin opened #157 "Remove profile prefix from ~/.aws/config"
We get the following warning for every profile in ~/.aws/config that uses this convention, in the next version can you stop putting the 'profile ' prefix in the config ini and just have the profile name.

[code]

[2018-07-31 00:01] AlainODea commented on #113
@felimartina my pleasure. I'm glad it helped you get up and running 😄

[2018-07-31 04:34] AlainODea commented on #157
@pc-fmarin this is a fun one.

botocore (AWS Python SDK) says that the profile prefix is required:
https://github.com/boto/botocore/blob/d00ee27528efad227ad46d3db9fd2f80f802803f/botocore/configloader.py#L208-L222

AWS Java SDK says that profile prefix is deprecated:
https://github.com/aws/aws-sdk-java/blame/46c00efdd9240d2d20d734f806dcc71506af6e0f/aws-java-sdk-core/src/main/java/com/amazonaws/auth

[2018-07-31 05:44] AlainODea commented on #157
@pc-fmarin see #161 for a workaround via configurable OKTA_PROFILE_PREFIX.

[2018-07-31 14:01] #153 closed

[2018-07-31 21:30] tchilcutt commented on #137
Hello @AlainODea thank you very much for your replies and for providing your installers.  I appreciate it.  Unfortunately, I have been too busy to give them a try, and I am now leaving on holiday, but I will certainly give them a spin upon my return.

And yes, it is quite unfortunate that I have still not received any response from Okta support.  Hopefully I will one day.

[2018-07-31 21:42] AlainODea commented on #137
@tchilcutt thank you for your kind words and support. It’s my pleasure. I’m glad when these things work out.

Okta is still finding it’s feet with developer advocacy. The acquisition of StormPath was a good move and once the folks get past the huge hurdle of building the initial sustainable SDKs and frameworks, I think we’ll see a major uptick in developer support engagement.

[2018-07-31 22:51] mfuery commented on #149
I can repro it on my Macbook. What log(s) can I post here for you?

[2018-08-01 17:10] loopingz commented on #124
I finally got some time to do the PR, sorry for the delay.
Does some of you are going to Blackhat / Defcon this year? It would be nice to meet

[2018-08-01 17:32] AlainODea opened #163 "Closing browser auth window doesn't quit"
Manually closing the browser auth window with the embedded browser doesn't quit the program. It stays running in a stuck/broken state.

[2018-08-01 18:35] #124 closed

[2018-08-01 19:35] AlainODea commented on #149
Thank you, @mfuery. I really appreciate it. There's no sensible logging regrettably. There is JDB...

I suspect that SAMLResponse is either:
1. not being parsed correctly from the form Okta builds to POST to `https://signin.aws.amazon.com/saml` (bug in this tool)
2. is parsed correctly, but occasionally contains no roles (Okta service-side admin misconfiguration, weird group rules issue, or bug)

[2018-08-02 09:21] jimlawton opened #164 "OKTA_CREDENTIALS_SUFFIX ignored when writing AWS configuration"
The fix for #161 still unconditionally uses `_source` in the AWS configuration file.
It should honor the environment setting `OKTA_CREDENTIALS_SUFFIX` (or its default value if not set) instead of always using `_source`.

[2018-08-02 17:16] AlainODea commented on #164
Good catch. My test "worked" only because I had the _source named credentials profile from before.

I like your fix. Can you open a PR with it?

[2018-08-02 20:37] mfuery commented on #149
@davidsuehring Indeed, it sure looks like it. I downloaded the 1.0.3 jar and will use that and see if it solves my issue. Thanks for linking me!!

[2018-08-02 20:37] #149 closed

[2018-08-02 21:03] jimlawton commented on #164
#164

[2018-08-02 22:38] #164 closed

[2018-08-02 22:51] AlainODea commented on #138
This is an amazing exchange. Thank you @sbrandtb! This is a huge contribution and awesome analysis work.

[2018-08-04 22:54] shoekstra commented on #122
@AlainODea Is there a way to make it always prompt for role?

[2018-08-04 22:56] shoekstra commented on #122
Thanks for clarifying, I suspected this was the case but couldn't find any mention of it.

[2018-08-05 12:46] AlainODea commented on #122
@shoekstra does that resolve this issue for you?

[2018-08-05 14:43] shoekstra commented on #122
Not sure if the PR does, but you've answered my question, thanks!

[2018-08-05 14:43] #122 closed

[2018-08-06 23:44] atifrasheed79 commented on #144
Thanks for your quick action @AlainODea :) Appreciate it.

[2018-08-07 13:25] AlainODea commented on #152
I can reproduce this. If using browser auth and the user has a single AWS role assigned by the Okta AWS app, then the web console is shown in the embedded browser window.

[2018-08-07 13:42] AlainODea commented on #152
This is fixed on master, but broken in 1.0.2. A release will fix this.

[2018-08-07 17:41] AlainODea commented on #85
@Ray-B updating the readme sounds like a good plan. Do you want to write up the readme change and submit a PR?

[2018-08-08 06:05] shankerm-ti opened #170 "Unable to generate key pair"
Hello,

I am using latest release and it was working for me 20 days ago. I tried today and it stopped working.

======================================
mshanker-mbp-13:.okta mshanker$ java -jar okta-aws-cli-1.0.2.jar
Username: mshanker@myoktaorg.com
Password:

Multi-Factor authentication is required. Please select a factor to use.
Factors:
[ 1 ] : Okta Verify (Push)
[ 2 ] : Okta Verify (TOTP)
Selec

[2018-08-08 13:42] mlmargotto commented on #102
Hi Guys.
Just to understand if this solution can be applied in our environment.
Our scenario use AWS with MFA (only this app). with browser, we can authenticate (user, pass and MFA) and works.
But, we need AWSCLI a lot and MFA is required for AWSCLI too.
Any alternative to use browser to authenticate and use this session in AWSCLI commands?.

[2018-08-08 14:32] jeffersonhaw-okta commented on #129
@vchepuri under config.properties, change the value to
java -classpath .:oktaawscli.jar com.okta.tools.WithOkta $@

[2018-08-08 14:34] Ray-B commented on #85
Sure. I'll have some time this week. 👍

[2018-08-08 18:07] loopingz opened #171 "Ability to store password in clear text"
I discovered that we can now store password with OKTA_PASSWORD variable.

I think this defeat the all purpose of using okta-aws for security reason, with that we expose an SSO password which leads to probably other systems.

I don't think the client should handle that.

What are your opinions?

[2018-08-08 18:54] AlainODea commented on #171
Removing it is tricky as people may depend on it. I agree that using it defeats the purpose of the tool.

This is a hard one. Perhaps a strongly-worded security caution in the readme and/or a stderr log warning.

[2018-08-08 22:36] AlainODea commented on #170
It looks like a problem with the support for Okta Push. I haven’t tried Okta Push myself.

Do you get the push notification in the Okta Verify app on your phone?

[2018-08-09 04:16] shankerm-ti commented on #170
Yes and I did approve it.

In fact, I tried a few other open source tools to generate keys through okta and found that they have stopped working too. Push and TOTP both are not working.

===================
mshanker-mbp-13:.okta mshanker$ java -jar okta-aws-cli-1.0.2.jar
Username: mshanker@myoktaorg.com
Password:

Multi-Factor authentication is required. Please select a factor to use.
Factors:
[ 1

[2018-08-09 14:25] AlainODea commented on #170
@shankerm-ti do you think you could adapt your script to Java and integrate it with this project and submit a PR?

[2018-08-09 15:49] AlainODea commented on #170
@shankerm-ti I just opened #173 which should help differentiate between the different failure modes here.

I just tested Okta Verify using token (TOTP-style) with an org-level authentication sign-on policy requiring MFA and it worked.

If you have prompt for re-authentication turned on in an App Sign On Rule, that also currently isn't supported.

I'm not sure how to test Okta Push as I have it ena

[2018-08-09 16:19] mmaha commented on #171
Perhaps an approach such as https://github.com/99designs/aws-vault to store
creds in the native OS keychain store?

On Wed, Aug 8, 2018 at 2:54 PM AlainODea <notifications@github.com> wrote:

[2018-08-09 18:46] AlainODea commented on #171
@mmaha that’s a good idea. #128 talks about having a password command or process and #59 talks about being a process of that kind for boto3 and AWS CLI clients.

I think it is a good idea.

aws-vault solves a different, but very significant problem of leaking AWS credentials (even temporary ones like this tool generates) in plaintext to disk.

I think it would be interesting to see how this tool c

[2018-08-10 05:30] Thinkerinhell opened #174 "Wrong command in readme . aws sts get-caller-identity"
In the readme.md, Usage section,  the command shall be
aws sts get-caller-identity

[2018-08-10 06:57] shankerm-ti commented on #170
@AlainODea I am sorry, I won't be able to convert it to Java. I used the same python script given in the link and changed the part for authentication to use API. Rest was same.

I re-looked at my Okta configuration and found that my Okta Super Admin has enforced app level MFA on all apps. I disabled that for AWS and it started working.

Apologies for the false alarm.

Thanks,
Malyaj Shanker

[2018-08-10 12:12] AlainODea commented on #170
No need to apologise, @shankerm-ti!

What you experienced is a bug with MFA errors that #172 fixes. It would have made this fail right away with a clear message.

I have some better error messaging coming in #173 that indicates the kind of policy that is unsupported.

I’m glad this is working again for you.

[2018-08-10 12:12] #170 closed

[2018-08-10 12:16] AlainODea commented on #174
The usage section expects that you’ve used the installer (install.sh or Install-OktaAwsCli.ps1).

It makes an alias called aws whose first argument is the profile name.

`aws test sts get-caller-identity` calls WithOkta with a profile name of **test** and a command of `aws —profile test sts get-caller-identity`.

[2018-08-10 12:16] #174 closed

[2018-08-10 19:21] thatrevguy opened #175 "CentOS 7 Install script fails."
When following the installation instructions the install shell script fails here due to insufficient priveleges:
https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/master/bin/install.sh#L80-L86

Should this command be run with `sudo`?

[2018-08-10 20:50] thatrevguy opened #176 "Make "cookies.properties" location configurable."
This would help prevent write collisions to `~./okta/cookies.properties` in cases that involve multiple threads/processes running the CLI.

Each process would want a unique path for cookies and `AWS_CONFIG_FILE`.

[2018-08-10 20:58] thatrevguy opened #177 "Add option to export EnvVars"
It'd be handy if there's an option to export "AWS_ACCESS_KEY_ID, AWS_SECRET_KEY, AWS_SESSION_TOKEN" as EnvVars in lieu of writing to the AWS profiles file.

Use case would be for any tools that can load auth from those EnvVars.

[2018-08-10 21:34] AlainODea commented on #177
@thatrevguy this is a very good idea. Most downstream tools and SDKs recognize those env vars. It also makes the sessions inherently one-off and transient.

[2018-08-10 23:32] thatrevguy commented on #176
Added:
https://github.com/oktadeveloper/okta-aws-cli-assume-role/pull/178

[2018-08-11 02:55] thatrevguy commented on #176
Feature is merged, closing.

[2018-08-11 02:55] #176 closed

[2018-08-11 18:29] loopingz commented on #127
@AlainODea I think you can do it now as you are a collaborator :)

[2018-08-11 18:39] AlainODea commented on #127
@loopingz I was thinking the same thing last night. I’ll take a crack at this soon. I’m on vacation and my Internet access is through my mobile phone, so I’m concerned about data charges or connection issues attempting that today.

[2018-08-11 18:42] AlainODea commented on #152
@loopingz this is the master issue for embedded browser launching the web console instead of switching back. This is fixed on master for me. If you can reproduce this issue on master, please let me know.

[2018-08-11 18:42] loopingz commented on #127
Enjoy your vacation, i would have helped but not the right status to do so :)

[2018-08-13 20:53] JonathanCooper commented on #152
@AlainODea Do you have a release schedule?  Just wondering when this fix is likely to make it into a release.

[2018-08-13 21:29] mraible commented on #152
I'm back from vacation, and happy to do a release. Here's what I've done in the past:

1. Update local source from master.
2. Change `pom.xml` to have release number. Commit and push.
3. Run `mvn package`.
4. Create release on GitHub and upload JAR.
5. Change `pom.xml` to have next release number. Commit and push.

I'm not sure we need releases since folks can do this on their own and it's not an

[2018-08-13 21:33] loopingz commented on #152
I think we need to do a release. I think there are several customers of this project even if this is not an 'official' Okta project. I would myself would probably not use Okta anymore if this tool was not around.

It would be great to remove the binaries as describe on ticket #127 before doing the release.

[2018-08-17 16:02] mraible commented on #127
Done!

[code]

[2018-08-17 16:02] #127 closed

[2018-08-17 16:04] mraible commented on #152
Fixed in 1.0.3 release (happening now).

[2018-08-17 16:04] #152 closed

[2018-08-18 01:12] AlainODea commented on #120
Fixed in release 1.0.3.

[2018-08-18 01:12] #120 closed

[2018-08-18 01:27] #135 closed

[2018-08-18 01:27] #107 closed

[2018-08-18 01:28] #24 closed

[2018-08-18 01:46] AlainODea commented on #175
Good catch. It was written with macOS and Homebrew in mind. The install script should probably have an overridable $PREFIX which defaults to /usr/local/bin/ on macOS.

Running it with sudo should fix the issue you encountered. You could also create ~/bin/, add it to your PATH, change the path in install.sh to ~/bin/withokta and rerun it.

[2018-08-18 01:47] #110 closed

[2018-08-18 01:48] AlainODea commented on #137
@tchilcutt any luck with the updated readme and installers?

[2018-08-18 20:27] AlainODea commented on #127
@mraible thank you!

There was one remaining snag keeping the repo and clones big: earlier release tags were holding references to the old history with the JARs.

I've corrected that and new clones are quite fast (under 2 seconds) and small (356.39 KiB transfer, 1.1MB including working copy) for me now.

Here are the changes I made to do that:
1. Move tag v1.0.0 from 844901bf626c161a737baeb0578e01

[2018-08-18 21:02] AlainODea commented on #140
@robkinyon-roivant I missed that your were using **OKTA_PASSWORD**.

IMPORTANT: **OKTA_PASSWORD** exposes your password in plaintext. It is intended only for experiments and debugging. Using it is a security risk.

I've reproduced your issue in setting passwords with leading or trailing spaces and having it not work when saved.

Due to the way Java Properties file are parsed, leading and trailing

[2018-08-18 21:02] #140 closed

[2018-08-19 23:52] AlainODea commented on #141
@frosforever I have a working fix. It just needs a code review. Do you have Java experience or know someone who does who can give this a once over?

[2018-08-20 12:10] robkinyon-roivant commented on #140
@AlainODea Then, maybe the documentation should make that clear. Right now, the documentation says:
[code]
It says nothing about plaintext, security risks, or what the recommended set of configurations should be.

[2018-08-20 14:30] AlainODea commented on #140
@robkinyon-roivant that's a very good idea. Do you want to write up the doc changes and submit a PR?

[2018-08-20 15:02] robkinyon-roivant commented on #140
@AlainODea Given that I ran into this problem without knowing it was a problem and am asking the question, I don't think I'm the right person to write these changes up.

The point is I assumed that Okta would have treated passwords better than plaintext.

[2018-08-20 16:13] AlainODea commented on #140
@robkinyon-roivant that's fair. I'll update the readme to actively discourage use of this feature.

Clarification: Okta (the service) handles your passwords securely in transit and at rest.

The security risk I highlighted is introduced by storing your password locally in a plaintext file or shell environment variable while using this tool. Any local process which has read access to **~/.okta/conf

[2018-08-20 20:29] gtaman commented on #138
I too am having this issue with the automated install jar.  1.0.3

[2018-08-20 20:59] AlainODea commented on #138
@gtaman. The install is still using 1.0.2. I’ll fix that. Have you downloaded the 1.0.3 release manually?

[2018-08-21 01:58] #105 closed

[2018-08-21 14:11] tchilcutt commented on #137
Hello @AlainODea, I just returned from holiday last night.  I have quite a bit of catching up to do but I will let you know when I get around to testing your fix.  Much appreciated.

[2018-08-21 22:44] AlainODea commented on #128
@pbrisbin I'm attempting to implement OKTA_PASSWORD_CMD now. Do you anticipate having to interact at the shell with the command that is run?

[2018-08-21 23:06] AlainODea commented on #128
I've got this working with macOS Keychain using the **security** command 🎉  I'll have a PR with the initial version of this shortly.

[2018-08-21 23:33] AlainODea commented on #128
I've added OKTA_PASSWORD_CMD support to #184. https://github.com/oktadeveloper/okta-aws-cli-assume-role/pull/184/commits/4d1e4561e8131ecd91f7857fa9644aff850d33a1

[2018-08-21 23:37] #171 closed

[2018-08-21 23:39] #163 closed

[2018-08-21 23:40] #141 closed

[2018-08-22 01:36] AlainODea commented on #137
@tchilcutt my pleasure. If you run into any issues, let me know and I'll do my best to address them. We make really heavy use of this tool now where I work, so having folks identify all the rough edges really helps me and my colleagues too.

[2018-08-22 11:15] pbrisbin commented on #128
Much excite :tada:

I don't personally need that because I use `pass(1)` which will just give the password without interaction as long as my GPG key has been unlocked in the running agent (and it always is). But I can't speak for other use-cases.

[2018-08-22 12:16] alex-valchuk opened #186 "okta-aws-cli-assume-role for .Net"
Hi,

I'm working on a .net port of okta-aws-cli-assume-role for my personal needs, and think it might be useful for other people.

https://github.com/alex-valchuk/okta-aws-cli-assume-role.net

[2018-08-22 20:09] AlainODea commented on #186
@alex-valchuk cool. If you have questions, I’m happy to field them as time permits.

[2018-08-22 20:12] AlainODea commented on #128
@pbrisbin thank you. The current implementation is not shell interactive. That’s probably fine for most tools like **pass** and **security**.

[2018-08-22 21:09] AlainODea commented on #186
Since this is an informational issue and not really a bug or feature request, I'm going to close it and keep the conversation open for discussion purposes if needed.

[2018-08-22 21:09] #186 closed

[2018-08-22 22:20] tom-smith-okta opened #187 "Release version is hard-coded in bin/install.sh"
**Is your feature request related to a problem? Please describe.**
Currently, the install.sh is hard-coded to install the v1.0.2 release. We recently released v1.0.3. The install.sh script should default to the latest release version.

**Describe the solution you'd like**
It would probably make sense to have a simple file like latest.txt that stores the latest release version that install.sh could

[2018-08-22 22:26] tom-smith-okta opened #188 "Docker image available - add to readme eventually?"
**Is your feature request related to a problem? Please describe.**
This is not really a feature request, but a notification that I have built a docker image that makes installing and using this tool easier (IMHO). I'm suggesting that it be added to the readme, but I would like a few more people to test it.

The docker image is here:
https://hub.docker.com/r/tomsmithokta/okta-awscli-java/

The gith

[2018-08-22 23:56] AlainODea commented on #188
@tom-smith-okta can you update the Docker image to use the main repo's install.sh? My #189 fix should make that practical now. I've got the readme changes drafted.

[2018-08-23 00:06] AlainODea commented on #188
My tests work with this Docker image using console auth and a TOTP factor. Neat solution.

Note: It does not work with OKTA_BROWSER_AUTH for me. This is not surprising as it requires JavaFX and a graphical console. I suspect it could work with some incredible X11-forwarding gymnastics.

[2018-08-23 01:30] #187 closed

[2018-08-23 01:30] #188 closed

[2018-08-23 15:05] robkinyon-roivant opened #191 "OKTA_BROWSER_AUTH doesn't work with multiple roles"
**Describe the bug**
I have two AWS accounts - one where I have one role I can assume and one where I have multiple roles I can assume. Using `OKTA_BROWSER_AUTH=true`, I get prompted for my credentials, then the following happens:

- In the account with one role, i get the one role, my credentials get written to ~/.aws/credentials, and life is good.
- In the account with multiple roles, I go to a

[2018-08-23 15:08] robkinyon-roivant opened #192 "OKTA_BROWSER_AUTH doesn't respect IWA login"
**Describe the bug**
If I login to Okta with Chrome or IE, IWA triggers and uses my AD credentials on my laptop to authenticate with Okta. I don't have to type my username or password.

If I do that via the CLI tool, the browser says it's logging in with IWA, then asks me for my credentials.

**Expected behavior**
I expect all browsers launched on my laptop to behave the same way, regardless of ho

[2018-08-23 17:59] AlainODea commented on #192
@robkinyon-roivant I think this is a limitation of JavaFX WebView. It also doesn't support FIDO U2F, which is frustrating. Sorry about this.

I've looked into using Chrome directly instead of an embedded, but I haven't figured it out.

[2018-08-23 18:07] #177 closed

[2018-08-23 21:14] AlainODea commented on #191
@robkinyon-roivant I tried this with a single account and multiple roles and multiple accounts with multiple roles and was not able to reproduce it. In both cases I had a single Okta org with a single Amazon Web Services app set up with multiple AWS accounts.

That the embedded browser is proceeding to the AWS SAML sign-on page graphically suggests that the SAMLResponse can’t be found in the web p

[2018-08-24 12:17] robkinyon-roivant commented on #191
Upgrading fixed the problem. Thanks!

[2018-08-24 12:17] #191 closed

[2018-09-03 13:17] alex-valchuk opened #193 "Configurable credentials file path"
It would be nice to have a possibility to configure an output path for a credentials file instead of writing it
to the default "user.home/.aws" directory.

Currently I have to add an additional command that copies the credentials file to my working folder.

[2018-09-04 13:14] AlainODea commented on #193
@alex-valchuk I’m open to this, but I want to understand it better.

Is OKTA_ENV_MODE a solution for your case?

How do your downstream scripts or code use the alternate AWS credentials location?

[2018-09-04 13:56] alex-valchuk commented on #193
1. OKTA_ENV_MODE does not fit.
We already use  AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, and AWS_SESSION_TOKEN as environment vars.

It's much more safer to work with profiles.

2. In my ASP.NET application I need to use something specific as a path to credentials file (e.g. c:\aws\credentials) because the config is common for our team of developers and somebody from them could just trivially stor

[2018-09-04 16:53] JonathanCooper opened #194 "Having trouble understanding profile names"
Hi Okta Devs,

Thanks for your work to get the okta-aws-cli-assume-role tool running, this is critical for my organization to be able to leverage the Okta/AWS integration.

I'm having some trouble understanding the CLI syntax and profile naming.  Starting with a fresh okta-aws-cli-assume-role and no `~/.aws/credentials` file, I ran:

[code]
I'm using `"OKTA_BROWSER_AUTH=true"`, so it popped open t

[2018-09-04 17:36] AlainODea commented on #194
It looks like a bug in install.sh here:

https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/0c90ad69f65415652455072305f187b9d398f10f/bin/install.sh#L40-L42

A possible fix is as follows. Edit ~/.okta/bash_functions:

[code]

I haven't tested this, so I'm not sure.

I'll retest this soon and propose a fix if this works for you.

[2018-09-04 18:11] AlainODea commented on #193
1. **OKTA_ENV_MODE** sets sub-process environment only. Persistent user and system environment are not modified. It is safe to use alongside other programs that depend on the persistent environment.

2. This tool was designed for interactive use, not for services or systems use. Using this within IIS would definitely be tricky.  Would implementing https://github.com/oktadeveloper/okta-aws-cli-assu

[2018-09-04 18:28] JonathanCooper commented on #194
Can you elaborate a bit on what the first argument is supposed to represent/accomplish?  With your suggested change, now it seems like it works no matter what I put for that arg.

[2018-09-04 20:38] AlainODea commented on #194
The first argument is the profile name.

What the **aws** bash function above does is split that into a profile that **withokta** can use to set the OKTA_PROFILE envvar and hand the **--profile** switch correctly to the real **aws** command on your PATH:
https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/0c90ad69f65415652455072305f187b9d398f10f/bin/install.sh#L83-L87

The reason that i

[2018-09-04 20:58] AlainODea commented on #193
@alex-valchuk you can control the parent of the .okta directory by passing **-Duser.home** to **java** in that same location in the installer.

One possibility would be changing that line to the following:
[code]

The tool will then expect C:\.okta\config.properties, store cookies to C:\.okta\cookies.properties, store AWS config to C:\.aws\config, and store AWS credentials to C:\.aws\credentials.

[2018-09-05 18:01] JonathanCooper commented on #194
So I tested that change and I _think_ it is working but there is one last piece I don't fully understand.

Given the following sequence of commands (and no active sessions):

[code]
I was expecting the last command to fail, since I didn't populate the `blablabla` profile with credentials.  Instead, it lists the bucket.  Are my expectations incorrect?

[2018-09-06 01:48] AlainODea commented on #194
Your expectations are correct. If it fails to update the config and credentials files the aws s3 command should fail as it depends on the blablabla named profile to be present.

[code]

That command should do this:
If the blablabla profile exists, and use it has not expired, use it as is. (there’s a bug with this and it will get a fresh STS session every time)
If the blablabla profile doesn’t exis

[2018-09-07 15:30] frosforever opened #197 "`updateConfigFile` unable to read existing aws config"
**Describe the bug**
`updateConfigFile` in `ConfigHelper` https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/87f90ac171ae3888d6681bc2b5c0781433353a34/src/main/java/com/okta/tools/helpers/ConfigHelper.java#L21 is unable to read existing AWS configs.
The root bug apears to be in `usingPath` in `FileHelper` https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/87f90ac171ae3888d66

[2018-09-07 20:42] AlainODea commented on #197
Really good catch here, @frosforever. I knew there was something I was missing when having a reader and writer on the same file. Not sure why I missed this bug. I’m glad you found it.

[2018-09-11 12:44] jeugene opened #198 "Usage docs"
**Describe the bug**
https://github.com/oktadeveloper/okta-aws-cli-assume-role#usage
The docs mention to call below.  Is this a typo?
"aws test sts get-caller-identity"

Why is above calling "aws" vs "awscli" or is this code adding any hook into "aws" cli?
Is there any specific purpose to appending aws cli  "sts get-caller-identity"

**Expected behavior**
Is the expected usage "awscli --profile te

[2018-09-11 14:19] AlainODea commented on #198
It's not a typo.

**aws** is a shell function created by install.sh or Install-OktaAwsCli.ps1. The **awscli** script in bin is a legacy thing.

[2018-09-11 14:19] #198 closed

[2018-09-11 15:17] jeugene opened #199 "aws sts caller identity issue"
**Describe the bug**
Execute below after executing the okta cli code that generates the temp keys
aws sts get-caller-identity (this executes aws cli code) and retursn below
"Arn": "arn:aws:sts::123123123:assumed-role/role-name/botocore-session-123123123"

The generated session "botocore-session-123123123" does not work with policy userId or saml iam policy variables
https://docs.aws.amazon.com/IAM

[2018-09-11 15:52] jeugene commented on #199
I have confirmed the Usage docs process below does NOT work correctly with AWS IAM policy variables.
USAGE : https://github.com/oktadeveloper/okta-aws-cli-assume-role#usage

Not clear why Okta cli code is trying to control AWS CLI? These should be independent/decoupled and not interfere with each other.

The saml response credential keys work by manually setting them as environment variables. This

[2018-09-11 20:50] AlainODea commented on #199
This is an interesting problem. Thank you for reporting it.

It sounds like you are trying to use the default profile. That can work but you need to run this tool as **aws default ...** where ... is the AWS CLI subcommand if you intend to use the default profile.

This tool updates the ~/.aws/credentials and ~/.aws/config files with named profiles. You’ll need to refer to the profiles by name when

[2018-09-11 21:02] AlainODea commented on #199
The Okta CLI code controls the AWS CLI (or other downstream program) by design. Wrapping a downstream command is the central intent of this tool.

The decoupling you describe is an interesting alternative way of looking at this. I’m open to creating an entry-point that does not run any downstream command if you think it would be useful to you.

[2018-09-11 21:48] AlainODea commented on #199
The generated session **botocore-session-123123123** is the role session name that the AWS CLI creates when it assumes the role using the credentials this tool obtains from AWS STS. The sts get-caller-identity response is not usable as AWS credentials.

You could run this tool like **aws test s3 ls** to list your S3 buckets (if the role you gave it in Okta allows that).

The AWS CLI named profile

[2018-09-11 23:18] jeugene commented on #199
Thanks for the reply @AlainODea
I've fixed the issue on my side. The issue bit rooted in this code

Let me clarify.

**Problem statement**
1. AWS CLI Command -> aws s3 cp test.txt s3://bucket/tmp/**johndoe12345**/
2. **johndoe12345** is an AWS IAM policy variable. User personal partition s3 space
3. **johndoe12345** is able to upload file via AWS Console Web UI
4. **johndoe12345** is NOT able to u

[2018-09-12 00:39] AlainODea commented on #199
Okay. I think I understand your use case way better now. This is a really interesting use case and opens a bunch of possibilities for how we could use this at work.

If I read you correctly, you are using [IAM Policy Variables](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_variables.html), likely referencing **aws:userid** in those policies to dyanmically constrain access to

[2018-09-12 00:41] AlainODea commented on #199
This is an incredibly cool use case. I’m excited to start experimenting with this :)

[2018-09-12 03:30] AlainODea commented on #193
Closing this for now as there is a workaround using JVM system properties.

[2018-09-12 03:30] #193 closed

[2018-09-12 04:11] AlainODea commented on #199
#203 may also be interesting to you. It adds a **CredentialProcess** entry point that produces a JSON output matching what the AWS CLI expects:
https://docs.aws.amazon.com/cli/latest/topic/config-vars.html#sourcing-credentials-from-external-processes

This allows for other processes to call this tool for credentials and get back a data structure they can use as they please.

[2018-09-12 18:48] #197 closed

[2018-09-12 21:19] pc-mreeves opened #205 "Way to override session to not use botocore-session-123456789"
Currently the session uses a string like botocore-session-GUID. It would be better to be able to override that with `whoami` or the Okta user or ANYTHING to make things like auditing in cloudtrail easier.

Maybe the GUID is actually a timestamp. anyways...

Now:
[code]

Better:
[code]

[2018-09-12 23:30] jeugene commented on #199
There are multiple IAM policy variables for regular login and federated login. All of them need to work consistently. Injecting role_session_name works for the case you reference above, but does not work for other IAM policy variables.

The above only works for the "current" terminal session. The context is lost in *new* terminal session

[2018-09-12 23:35] jeugene commented on #199
The saml response is "okta.user@example.com" is because this that is the configuration in okta

"AROAABCDEFGHIJKLMNOPQ:okta.user@example.com:"

That is the roleId and saml subject. We are not using above method. To make "only" above solution work, inject "role_session_name" in okta configs and it will work.

However, the above process is buggy and will not work for all IAM policy variables use cas

[2018-09-12 23:48] jeugene commented on #199
The solution that works for *all* IAM policy use cases, multiple terminals is below.
- Remove code in ConfigHelper.java
- Remove code in CredentialsHelper.java
- Get the saml response AWS keys (access, session and token) from the Okta cli code response in awscli.java
- Simulate either below or this expected result of this
https://docs.aws.amazon.com/cli/latest/reference/configure/set.html
- Set AW

[2018-09-13 00:01] jeugene commented on #205
The hack solution is modify "OktaAwsCliEnvironment.java" and add role_session_name value from okta saml response.

The above does not solve majority fo the use cases.. the details are in below issue.

https://github.com/oktadeveloper/okta-aws-cli-assume-role/issues/199

[2018-09-13 00:05] AlainODea commented on #199
Regarding https://github.com/oktadeveloper/okta-aws-cli-assume-role/issues/199#issuecomment-420833015:

This tools is designed to work with the multi-account multi-role configuration using Okta’s integrated Amazon Web Services app in SAML mode.

I think you’re on to something with the **aws configure** approach. That would remove a lot of special handling code for AWS config files this tool doesn’

[2018-09-13 00:33] jeugene commented on #199
Thanks @AlainODea
Above is accurate. We have multiple aws accounts and many roles. We continuously swap in and out roles for various AWS role specific isolated privileges. This usage works well with the above solution. I'll publish the PR.

[2018-09-13 00:48] AlainODea commented on #205
**OKTA_ENV_MODE** is designed to work for a single command. It sets the process environment for the subprocess that WithOkta or awscli launches. It is intended for use cases where credentials are not allowed to be stored at rest.

[2018-09-13 00:55] AlainODea commented on #205
**OKTA_ENV_MODE** does work across multiple terminals if you use withokta or the installer-provided aws shell function since it will go through Okta for fresh credentials each time.

There appears to be a bug in how this tool sets up the config and credentials files. The AWS CLI should be able to directly use the provided session with an STS:AssumeRole operation, but for some reason it does one if

[2018-09-14 00:50] jpollard-cs opened #208 "profile names in ~/.aws/config and ~/.aws/credentials file are not compatible with AWS Java SDK V2"
please see discussion here: https://github.com/aws/aws-sdk-java-v2/issues/389#issuecomment-421195380

[2018-09-14 04:48] AlainODea commented on #208
Related to #157.

Do you have a stacktrace for the failure you are encountering? If not, can you describe it in as much detail as possible?

[2018-09-14 04:53] AlainODea commented on #208
The issue you describe is due to the legacy generate profile name behavior if **OKTA_PROFILE** is unset. I don't recommend using this tool without it. The installer sets up an **aws** wrapper shell function that takes the profile name as it's first argument and otherwise acts like the true AWS CLI's **aws** program.

Make sure to set the **OKTA_PROFILE** environment variable or configuration prope

[2018-09-14 15:41] naiduklr936 opened #209 "Not able to use proxy when running Okta CLI from the Corporate Network"
https://github.com/oktadeveloper/okta-aws-cli-assume-role/releases

jar file is downloaded from the above link. Using for the AWS cli, working fine if we are not in our corporate network, but when we are trying to work Okta CLI from the corporate network it's not going over proxy. Getting connection time out since it's hitting the firewalls directly

[2018-09-14 16:55] AlainODea commented on #209
This is configurable via JVM Proxy settings.

This is a duplicate, so I’m going to close it. See notes on the original issue:
https://github.com/oktadeveloper/okta-aws-cli-assume-role/issues/105

[2018-09-14 17:01] AlainODea commented on #209
@naiduklr936 I admit this is not very user friendly. In some cases the useSystemProxies works.

The Windows PowerShell integration with proxies is actually the best as we needed it to be solid for use in Amazon WorkSpaces.

[2018-09-17 11:54] jpollard-cs commented on #208
hey @AlainODea the company I'm working with has me using a very specific version of the SDK - I believe this was due to an issue where the okta-aws-cli tool stopped listing role policies. Does that issue sound familiar? Either way I'll give the latest tool a shot. Also browsing for related issues I stumbled upon the `OKTA_ENV_MODE=true` - that might help me avoid this issue, as well 😄

[2018-09-18 01:15] jpollard-cs commented on #208
thanks @AlainODea - it looks like there's another issue at play here regarding our IAM role design being incompatible with more recent changes so I think for now I'm going to fork the repo, rollback to the revision that works for us (58951777a9893f53c38a5c10848b22f469098669) and transplant the `OKTA_ENV_MODE=true` functionality into that

[2018-09-18 01:17] jpollard-cs commented on #208
reopening as I noticed there was an action item coming out of https://github.com/aws/aws-sdk-java-v2/issues/389#issuecomment-421229658

[2018-09-19 20:28] naiduklr936 commented on #105
Sorry for the lack of clarity, I tried to add the proxy configuration on java control panel. But still the application is not able to fetch the proxy configuration from it. Do we have to tweak any changes for the code ?

[2018-09-19 21:13] AlainODea commented on #105
No code changes are required. Proxy support is built into the libraries it uses. System proxies work on macOS, Ubuntu, and Windows in my tests.

On macOS and Ubuntu, it will use the https_proxy environment variable if installed using install.sh.

On Windows, the PowerShell installer sets it up to use the Internet Options proxy.

[2018-09-20 13:16] naiduklr936 commented on #105
Do I've to execute the power shell installer separately ?  where I can find the install.sh and power shell installer ? @AlainODea

[2018-09-20 15:10] AlainODea commented on #105
Try this step-by-step installation guide:
https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/master/Readme.MD

If that doesn’t work, please let me know.

[2018-09-24 12:52] AlainODea commented on #205
Viable alternative proposed. No response in a while, so I'm closing this.

[2018-09-24 12:52] #205 closed

[2018-09-24 19:16] naiduklr936 commented on #105
@AlainODea After upgrading the PowerShell to version 5, I ran the following command

`Invoke-RestMethod https://raw.githubusercontent.com/oktadeveloper/okta-aws-cli-assume-role/master/bin/Install-OktaAwsCli.ps1 | clip.exe`

But still, no luck passing through the proxy, still getting the same error.

[2018-09-24 19:48] AlainODea commented on #105
@naiduklr936 after running that you need to right-click to run the installation. It puts the installer in your clipboard.

After that, within PowerShell running a command like `aws profilename s3 ls` should list your S3 buckets if the role you assume allows that.

Can you share the error you are getting (full stacktrace)?

[2018-09-24 19:48] #59 closed

[2018-09-25 21:46] davidsuehring commented on #199
@jeugene Do you have an update on your PR for this? I'm glad I looked in here, as we were running into these issues with a similar use case, and starting to look into options to resolve it!

@AlainODea Out of curiosity, is there use case that I'm missing that causes the tool to need to write the role to .aws/config at all? Providing the source_profile and role_arn options in that file tells the AW

[2018-09-26 14:15] AlainODea commented on #199
@davidsuehring

This is a legacy thing. It was in the original implementation. I think you are right, assuming that the AWS CLI can work without a profile defined in ~/.aws/config.

Good catch! I didn't realize setting **role_arn** behaved like that. That's likely the root cause here and is an easy fix. I can also remove that weird IAM policy advice from the readme.

Re-reading this you have got t

[2018-09-26 17:14] davidsuehring commented on #199
@AlainODea Awesome, thanks for the explanation! As I was thinking through this a little more, the piece of data that probably still needs to be in .aws/config is "OKTA_AWS_REGION", because I don't think that is supported in the credentials file. So, that might be something to watch out for.

[2018-09-26 19:06] AlainODea commented on #199
@davidsuehring you are 100% right here.

@jeugene your suggested fix (removing the writes to ~/.aws/config) from before worked. I didn't understand initially.

This fixes a lot of ugliness in this tool. I have to test my solution with PowerShell to make sure it still works there. I suspect this will solve the problem implicitly.

You are both solid, helpful folks for sticking with this. Thank you.

[2018-09-26 19:59] AlainODea commented on #199
@davidsuehring yes, region is a potential snag. I think I may document that and leave it for users. Separate this tool entirely from the AWS config as @jeugene suggested. He’s right, it has no business fiddling with it.

[2018-09-28 11:11] AlainODea commented on #137
@tchilcutt the STS duration is likely broken by writing ~/.aws/config. I've pushed up #211 to stop altering that file which should mean AWS CLI uses the role assumed from Okta directly rather than trying to assume that role itself and overwriting the OKTA_STS_DURATION you set with a 3600 second (1 hour) default. It's waiting on code review.

[2018-09-28 12:01] SmoothGlide opened #212 "aws test doesnt work"
Running on Windows.
Followed the instructions to install.
When I run "aws test sts get-caller-identity" in Powershell - it cannot find aws command
When I run same in Command Prompt is just gives me the help page (aws test is not valid)

[2018-09-28 15:01] AlainODea commented on #212
@SmoothGlide I'm in the process of removing the override of the aws command. It causes more problems than it solves.

Assuming you used the [documented install process](https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/master/Readme.MD#installation) you can run this:
[code]

You may want to check the content of the file pointed at by $Profile (note that notepad.exe will not read the l

[2018-09-28 15:14] AlainODea commented on #212
See #213 for the fix to remove the confusing overrides.

[2018-09-28 17:35] SmoothGlide commented on #212
Awesome.  I got it working a little….

On Sep 28, 2018, at 11:14 AM, AlainODea <notifications@github.com<mailto:notifications@github.com>> wrote:

See #213<https://github.com/oktadeveloper/okta-aws-cli-assume-role/pull/213> for the fix to remove the confusing overrides.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/oktadeve

[2018-10-01 01:56] NaveenAtCNA opened #214 "Issues working behind Proxy"
**Describe the bug**
A clear and concise description of what the bug is.

Tried this utility behind proxy, try to set the proxy different ways none of them seems to be working.
1.	Set the proxy outside of the utility -Djava.net.useSystemProxies=true, then it gives the below error
2.      Also tried to set the proxy at the Java Path.

java -Djava.net.useSystemProxies=true -Dhttps.proxyHost=***.**.c

[2018-10-01 07:37] condemil opened #215 "Second try to enter token fails with null pointer exception"
**Describe the bug**

When token verification fails the `java.lang.NullPointerException` error shows up after entering token again.

_Example 1:_

[code]

_Example 2:_

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Enter wrong token
2. Enter proper token
3. See error

**Expected behavior**
Verification pass after second try, error shouldn't show up.

**Additional context**
Version:

[2018-10-01 12:57] AlainODea commented on #214
I'm sorry for the frustration you are experiencing with proxies here.

A few questions:
1. What version of the JRE are you running?
2. What kind of proxy is proxy.cna.com:8080? (HTTP, SOCKSv4, SOCKv5)
3. Can you provide the complete stack trace of the error you are encountering?

Please validate your proxy's compatibility with Java as follows:

The following scripts can be pasted into jshell which

[2018-10-01 13:02] AlainODea commented on #215
Thank you for your bug report @condemil. I'll validate this now.

[2018-10-01 13:03] AlainODea commented on #215
Confirmed on v1.0.3.

[code]

[2018-10-01 13:32] AlainODea commented on #214
@NaveenAtCNA scratch that. I've independently confirmed your bug report.

It looks like one of the HTTP clients the code is using doesn't support SOCKS proxies:
[code]

I'll investigate. For the time-being I recommend enabling an HTTP proxy if possible or allowing a direct access exception.

[2018-10-01 13:34] AlainODea commented on #214
@NaveenAtCNA scratch that. I've independently confirmed your bug report.

It looks like one of the HTTP clients the code is using doesn't support SOCKS proxies:
[code]

I'll investigate. For the time-being I recommend enabling an HTTP proxy if possible or allowing a direct access exception.

[2018-10-01 13:44] AlainODea commented on #214
This looks promising:
https://stackoverflow.com/a/22960881/154527

It works with a SOCKS proxy for me. I'll have to figure out how to integrate this into the code without breaking use for every other non-proxy of HTTP-proxy config.

[2018-10-01 14:42] #215 closed

[2018-10-01 16:54] NaveenAtCNA commented on #214
I overcome the Proxy issue now after setting the Proxy Settings in a different way. Now i see this issue.
I have access to AWS Console when I go using the Web Console, can you let us know what is the error for. In the config, i specified all these -

OKTA_ORG=*****
OKTA_AWS_APP_URL=******
OKTA_BROWSER_AUTH=false
OKTA_USERNAME=*****
OKTA_PASSWORD=
OKTA_AWS_ROLE_TO_ASSUME=******
OKTA_PROFILE=
OKTA_S

[2018-10-01 23:27] #137 closed

[2018-10-01 23:27] #199 closed

[2018-10-02 12:39] #175 closed

[2018-10-02 13:00] #208 closed

[2018-10-02 14:50] AlainODea commented on #215
@condemil v1.0.4 is released with a fix for this.

[2018-10-02 14:52] AlainODea commented on #209
I think this might be #214 so legitimate issue. I'll let you know when that gets merged. I imagine you are using a SOCKS proxy. You can build #217 if you need the fix urgently.

[2018-10-02 14:52] AlainODea commented on #208
@jpollard-cs v1.0.4 is released with a fix for this.

[2018-10-02 14:52] AlainODea commented on #205
@pc-mreeves v1.0.4 is released with a fix for this.

[2018-10-02 14:52] AlainODea commented on #199
@jeugene v1.0.4 is released with a fix for this.

[2018-10-02 14:54] AlainODea commented on #194
@JonathanCooper v1.0.4 is released with a fix for this. It sets the auto-generated profile names to RoleName_AccountNumber (ex: Admins_123456789012). That should make them much easier to read.

[2018-10-02 15:51] pc-mreeves commented on #205
@AlainODea - Sorry, what is the fix? Is there an env var to manipulate or will the session automatically use a user's name or...? Sorry for late reply, I lost this thread in my gigantic inbox...

[2018-10-02 18:39] naiduklr936 commented on #209
Thanks, @AlainODea , I'll have a look. Also, recently we came across one more issue when one of our developer trying to use the Okta CLI for AWS from Ec2 Linux instance. He is able to generate the credentials, but when he executing the aws CLI commands it gives the access denied. I'm sure that he has required permissions for the role he generated the credentials. But still, he is not able to use t

[2018-10-02 18:57] naiduklr936 commented on #209
@AlainODea , I use the newer release 1.0.4, this is what I'm getting

$ java -jar okta-aws-cli-1.0.4.jar

Exception in thread "main" org.apache.http.conn.HttpHostConnectException: Connect to okta.com:443 [okta.com/xx.xx.xx.xx, okta.com/xx.xx.xx.xx, okta.com/xx.xx.xx.xx] failed: Connection timed out: connect
        at org.apache.http.impl.conn.DefaultHttpClientConnectionOperator.connect(DefaultHtt

[2018-10-02 20:04] AlainODea commented on #209
Proxy settings are not automatically detected. You have to explicitly ask Java to detect your proxy or you need to configure it manually.

If you install this according to [our install guide](https://github.com/oktadeveloper/okta-aws-cli-assume-role#installation) it should work on Windows systems with proxies assuming standard configuration. I haven't tested proxy auto-detection on macOS or Linux.

[2018-10-02 20:13] AlainODea commented on #209
He should try this to use a named profile and see what role he has assumed through Okta:

[code]

[2018-10-02 20:14] AlainODea commented on #209
@naiduklr936 SOCKS proxy support is not fixed in v1.0.4. That's why #217 is still open. I'm waiting on a code review.

[2018-10-02 20:18] AlainODea commented on #102
This issue discussion has gone off-topic. Consolidating with #25.

[2018-10-02 20:18] #102 closed

[2018-10-02 20:27] AlainODea commented on #43
@Joeskyyy did you have any luck with this after?

[2018-10-02 21:50] AlainODea commented on #89
v1.0.4 does not exhibit this problem. It was fixed by #211.

[2018-10-02 21:50] #89 closed

[2018-10-02 22:03] AlainODea opened #218 "OKTA_BROWSER_AUTH broken on Java 11"
**Describe the bug**
Attempting to use OKTA_BROWSER_AUTH=true on Java 11 fails with the following stacktrace:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install Java 11
2. Run `okta-aws test sts-get-caller-identity`

**Expected behavior**
I expect to see output like this:
[code]

**Screenshots**
N/A

**Additional context**
Broken on this version of Java:
[code]

Working on this

[2018-10-02 23:33] NaveenAtCNA commented on #214
Tried with 1.0.4 same error. Tried with OKTA_AWS_APP_URL in browser it works.

Exception in thread "main" java.lang.RuntimeException: You do not have access to AWS through Okta.
Please contact your administrator.
        at com.okta.tools.saml.OktaSaml.getSamlResponseForAwsFromDocument(OktaSaml.java:74)
        at com.okta.tools.saml.OktaSaml.getSamlResponseForAws(OktaSaml.java:53)
        at com.

[2018-10-03 00:58] AlainODea commented on #205
@pc-mreeves #211 removes the superfluous assume role triggerred by writing source_profile and role_arn as described here:
https://github.com/oktadeveloper/okta-aws-cli-assume-role/issues/199#issuecomment-424512585

Since that no longer happens the role session has a predictable name based on the IAM role ID and username Okta sends.

[2018-10-03 16:15] philliphayesiam opened #220 "Identity in the Cloudtrail entry from okta"
**Is your feature request related to a problem? Please describe.**
When the API call is made to AWS, the cloudtrail entry ends up having the username of botocore-session-#####.  This impacts the ability to understand who has been accessing the AWS API after a call from the IdP

**Describe the solution you'd like**
Assuming this can be fixed on the dev side, we'd like the caller identity to be trac

[2018-10-03 16:49] Joeskyyy commented on #43
@AlainODea sorry I did not, got distracted by dozens of other things haha I'll see if I can dedicate some time next week to this...

[2018-10-03 16:54] AlainODea commented on #220
Does this happen with v1.0.4?

[2018-10-03 18:16] philliphayesiam commented on #220
I see you released v1.0.4 yesterday, so, no, we installed this in early september. Hence, v.1.0.3.

[2018-10-03 18:52] AlainODea commented on #220
No worries. This bug was just fixed, so I was really hoping it didn't come back from the grave in anticipation of Halloween :)

[2018-10-03 19:11] #218 closed

[2018-10-03 19:11] philliphayesiam commented on #220
How timely.... I just installed v1.0.4 and the sts get-caller-identity looks as expected now.  Waiting for cloudtrail to catch up so I can verify on that side.  Thanks so much!

[2018-10-03 19:12] AlainODea commented on #220
My pleasure, @philliphayesiam. I'll close this as successfully resolved :)

[2018-10-03 19:12] #220 closed

[2018-10-04 13:46] robkinyon-roivant opened #221 "v1.0.4 no longer generates credentials for multiple accounts"
**Describe the bug**

My Okta account has access to multiple roles across multiple AWS accounts. With v1.0.3, I could generate credentials for several accounts at the same time. When I try to do so with v1.0.4, I get credentials for the first account, but cannot generate credentials for subsequent accounts. ~/.aws/credentials only contains credentials for the first account.

**To Reproduce**
Steps

[2018-10-04 13:49] robkinyon-roivant opened #222 "~/.aws/config no longer managed by this tool"
**Describe the bug**

~/.aws/config file is no longer managed by okta-aws-cli **AND** there was no announcement (or even place to announce) this breaking change.

**Additional context**

Removing the generation of ~/.aws/config should have, at minimum, been a minor release, not a patch release. Our tooling depended on ~/.aws/config being managed by okta-aws-cli. There is no CHANGELOG or release no

[2018-10-04 17:06] AlainODea commented on #221
This is frustrating. Sorry about this. I’m going to do some testing to re-validate multi-account support.

In the meantime:

What command do you run to do this step?

[2018-10-04 17:52] robkinyon-roivant commented on #221
We have a script that does:

[code]
We then setup the ~/.okta/config.properties file with the right values (including OKTA_BROWSER_AUTH=true) invoke this script with `true` (so that it's a no-op). Our tooling is responsible for managing the config.properties file, so we rewrite it on every invocation.

We have a similar script for Windows which invokes `rundll32`, with similar results.

[2018-10-04 18:36] AlainODea commented on #221
Thank you.

Are you setting **OKTA_PROFILE** in config.properties or the process/shell environment between switching accounts?

Setting that may alleviate this.

[2018-10-04 18:50] AlainODea commented on #222
I regret that it was a breaking change released as a patch release. That was not intended or anticipated. Sorry about that.

Here's the fix for your immediate issue:
- remove source_profile and role_arn from each named profile section in ~/.aws/config (it's an text-based INI file)

Here's some context that may explain how this happened and why:
Removing the writing of ~/.aws/config was not anticip

[2018-10-04 18:52] robkinyon-roivant commented on #221
We specifically set:

[code]

Do we need to set the profile now as well? What should we set it to?

[2018-10-04 19:12] robkinyon-roivant commented on #222
Could you add a CHANGELOG.md or a release notes or something that collects the changes so that consumers can understand what's happening before upgrading? That's probably the biggest win that could come from this ticket.

Also, removing something you used to do should probably be, at the least, a minor version bump, not a patch release.

[2018-10-04 19:34] AlainODea commented on #221
There are a couple of approaches you can use to solve this:
1. named profiles
2. environment mode and shells

# Solution 1: Named profiles
OKTA_PROFILE just needs to be unique per profile.

My approach is this:
1. I have an AWS account called **mycorp-mgmt** account. I call the role **mgmt**
2. I have another AWS account called **mycorp-prod** account. I call the role **prod**

This results in a c

[2018-10-04 19:41] AlainODea commented on #221
I have verified that multiple profile support is still working in v1.0.4. I'll close the issue, but continue the conversation to help work out the use case.

[code]

[2018-10-04 19:41] #221 closed

[2018-10-04 19:47] AlainODea commented on #214
I suspect a proxy issue remains.

Please run this in jshell and comment back with what it outputs:

[code]

[2018-10-04 19:55] AlainODea commented on #222
Would the just-added release notes on this page work?
https://github.com/oktadeveloper/okta-aws-cli-assume-role/releases/tag/v1.0.4

I agree. I'll try to keep that in mind. This is best effort as I'm not paid to work on this.

[2018-10-04 21:15] robkinyon-roivant commented on #222
Yes, that would have helped dramatically.

I understand about the best-effort - I maintain several OSS projects in multiple languages.

[2018-10-05 12:30] robkinyon-roivant opened #223 "No clear way to assume second credentials in same account"
**Describe the bug**

Given a user who has multiple roles in a given AWS account, how can I:

1. Retrieve the list of possible roles on behalf of the user so that I can do something programmatic with them?
1. Get credentials for a different role on that account while the credentials for the first role are active?

I'm presuming that if I knew which role they wanted to assume, I could set the OKTA_

[2018-10-05 13:45] AlainODea commented on #223
1. A new feature to output the role selection menu as JSON could support this. That is obtainable here:
https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/8753f9f0b2cf0281f36a89e87ef27dd1353b0205/src/main/java/com/okta/tools/helpers/RoleHelper.java#L105-L108

    Using a Jackson ObjectMapper on the return of that it's fairly easy to get JSON like this back:
[code]

2. My users and I do

[2018-10-05 13:48] AlainODea commented on #221
Thank you, @robkinyon-roivant. Documentation for that would definitely help and would be a very welcome contribution 👍

[2018-10-07 01:10] #212 closed

[2018-10-07 01:11] #223 closed

[2018-10-09 10:25] ohuk2 opened #225 "Creating incorrect profilenames in .aws/credentials and .okta/profiles"
Hello,

looks like either the documentation or the tool is wrong, when I do for example the following I don't get a profile called "test", but called the AWS command I used :-) :

ubuntu:/.okta$ withokta test s3 ls
Username: U48xxx
Password:
Auto select role as only one is available : arn:aws:iam::08646965xxxx:role/xxx-federated
ubuntu:/.okta$ cat profiles
[s3]
source_profile = s3
okta_roleArn = a

[2018-10-09 11:29] AlainODea commented on #225
@ohuk2 are you using the withokta script in bin? That won't set the OKTA_PROFILE environment. The installer scripts will give you better results.

Try running the [installer script for your platform](https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/master/Readme.MD#installation) and then try this:

[code]

It should create a profile named **test** in **~/.aws/credentials** and then r

[2018-10-09 11:56] #214 closed

[2018-10-09 12:27] ohuk2 commented on #225
Thanks Alain yes I installed it as:
27  curl 'https://raw.githubusercontent.com/oktadeveloper/okta-aws-cli-assume-role/master/bin/install.sh' | sudo bash

which installed "withokta" in /usr/local/bin.

I did a "source .okta/bash_functions"  and tried as you said above and then it went OK. Might want to mention it in the doc :-) .

Thanks again :-) !

[2018-10-09 12:27] #225 closed

[2018-10-09 17:34] Joeskyyy commented on #43
@AlainODea So it looks like `awsRegion` was removed? https://github.com/oktadeveloper/okta-aws-cli-assume-role/commit/65804120bfb7acfa38936ce6f4b7a05b3d7e23d3#diff-c543fc080eb0d7666d5554a7b0093a3f

So now `private OktaAwsCliEnvironment environment` doesn't have a region to pull from.

The only place region is now being referenced is in `OktaAwsConfig` in `getAwsRegionOrDefault()` but that region m

[2018-10-09 22:03] AlainODea commented on #43
@Joeskyyy is pulling from the [AWS CLI's **AWS_DEFAULT_REGION** environment variable](https://docs.aws.amazon.com/cli/latest/userguide/cli-environment.html) a workable alternative for your code?

[2018-10-09 23:12] Joeskyyy commented on #43
@AlainODea  https://github.com/oktadeveloper/okta-aws-cli-assume-role/pull/227

I think pulling the variable was a bad design decision. I reverted b86dc34 and built upon it. Was able to successfully get it working.

[2018-10-10 16:53] #43 closed

[2018-10-11 13:50] mfulgo commented on #123
Sorry @AlainODea, I'm likely not going to have time to work on this for a while. If I do, I'll be sure to link it here.

[2018-10-12 01:31] AlainODea commented on #123
@mfulgo no worries and thank you :)

[2018-10-18 05:16] mh-psaad opened #231 "Windows: OKTA_PROFILE not respected, always have to pass --profile"
**Describe the bug**
1. Even though `OKTA_PROFILE` is set before the initial call to AWS, it doesn't seem to be used when creating the profile.
2. Further calls to `okta-aws` *always* require the profile to be passed in and `OKTA_PROFILE` is not read. Leading to weird issue when you forget to pass it in.
- Example: `okta-aws s3 ls` will create a new profile named s3 and return an error because 'ls

[2018-10-18 15:36] AlainODea commented on #231
Thank you for reporting this.

There are definitely gaps in the docs, particularly around the renaming of commands from the previous versions.

I’ll take a deeper look at this and help get past this.

If you already have specific changes to the docs to recommend, a PR is definitely welcome :)

[2018-10-18 19:41] AlainODea commented on #231
You can use the default profile as follows:
[code]

`okta-aws s3 ls` won't work as it would be creating a profile named s3 and then try to run `aws --profile s3 ls` under the hood. That's why you get that error message.

It works like this:

General usage:
[code]

Example of listing all S3 buckets:
[code]

Subsequent calls to okta-aws with the same profile name should use cached AWS credentials (u

[2018-10-18 20:47] mh-psaad commented on #192
Weird, this works fine for us. It didn't with an earlier build from July/August timeframe, but it works now. Can you delete your .okta and .aws folders and start from scratch using the latest version?

![image](https://user-images.githubusercontent.com/43017097/47183190-31815e00-d2dc-11e8-9363-5a678df1af22.png)

![image](https://user-images.githubusercontent.com/43017097/47183057-e7987800-d2db-11e

[2018-10-18 21:04] mh-psaad commented on #231
I know how to set the default credential, but if I still have to name it for every subsequent call, it's not a default, it's just another profile. Is this just a situation where the new way of doing things (okta-aws) doesn't look at OKTA_PROFILE but the old way (awscli) did?

It's not directly referred to in the latest readme, but in the [manual install](https://github.com/oktadeveloper/okta-aws-c

[2018-10-19 12:00] AlainODea commented on #192
@mh-psaad this is good to know. I wonder if this is because of the switch to OpenJFX in v1.0.5 from whatever is included with Java 8.

@robkinyon-roivant can you try IWA on v1.0.5 and see if this is now resolved?

[2018-10-19 12:01] AlainODea commented on #192
@mh-psaad thank you for investigating this and providing such clear analysis and screenshots here. I really appreciate it.

[2018-10-19 13:41] AlainODea opened #232 "CredentialProcess is unusable"
**Describe the bug**
CredentialProcess no longer works. It's not clear why.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up default profile to use credential_process as follows:
[code]
2. Run `aws sts get-caller-identity`
3. Provide Okta credentials when prompted
4. See error:
[code]

Case 2: running CredentialProcess directly:
1. Run `java -cp /Users/username/.okta/okta-aws-cli.jar c

[2018-10-19 13:48] AlainODea commented on #231
**okta-aws** is intended to be used with an explicit profile name every time it is called. The way it is written makes it very difficult to omit the profile name from the call.

Now that I've seen more use cases, I realize that isn't the best fit for everyone. It isn't the best fit for things I do myself anymore.

I actually use a config like this in ~/.config/fish.config:
[code]

For bash, this s

[2018-10-19 17:07] AlainODea commented on #231
There is another option.

Run `okta-aws default sts get-caller-identity` to set up stored credentials for the default role and print out what role that is.

Run `aws s3 ls` or other AWS CLI commands to use the default role as stored.

[2018-10-22 21:21] craiglink opened #233 "Repetive profile name warning"
**Describe the bug**
When logging into Okta with the AWSCLI and selecting from multiple roles, the following warning:
Please choose the role you would like to assume:
Account: zg-guardrails-dev (XXX)
        [ 1 ]: zg-guardrails-dev-admin
Account: zg-ops (XXX)
        [ 2 ]: zg-ops-admin
Selection: 1
Oct 22, 2018 2:13:22 PM com.amazonaws.auth.profile.internal.BasicProfileConfigLoader loadProfiles

[2018-10-23 03:34] craiglink commented on #233
what?  ~/.aws/config is a valid and valuable way of using the AWS CLI and SDK - https://docs.aws.amazon.com/cli/latest/userguide/cli-multiple-profiles.html.  Renaming and not using it is not an option for us?  Every AWS SDK supports the config file regardless of if its boto3, java, node.js, or golang.    It's even why I added improved support for in for the 1.03 release via my PR.

What is your /

[2018-10-23 14:12] brentbain commented on #231
I use the last option - I have a okta-aws being called from a bat file on my desktop - I double click and it sets "default" - then I can launch powershell aws tools or cli (on a windows machine). I also found it useful to do this for each AWS account I connect to - as I run ElasticBeanstalk (EB CLI) for one account a lot - this method allows me to set the EB CLI profile when I run the EB bat file

[2018-10-23 15:18] AlainODea commented on #233
You can still use ~/.aws/config. I was suggesting an experiment to hopefully remove the warning messages the AWS Java SDK was logging.

~/.aws/config is not written by this tool. You can still use it. I have colleagues who do.

A big part of the reason writes to ~/.aws/config were removed was because this tool was corrupting that file when people had nested properties in it for things like s3 sign

[2018-10-23 15:46] mh-psaad commented on #231
This is what I'm doing. If that is the intended behavior, perhaps the documentation should reflect it as an alternative use case in 'Usage'

[2018-10-23 15:46] #231 closed

[2018-10-23 15:52] craiglink commented on #233
It's not the region feature which is breaking us.  Its the ability to use ~/.aws/config and the source_profile.  We leverage this heavily and have several IAM roles which can be assumed from the role which is signed into via Okta.  For this to work, the STS credentials obtained by okta need to be written into config file

[2018-10-23 16:17] AlainODea commented on #233
I am really sorry about losing your PR in this. That was bad. I will avoid that in future and try to notify affected contributors ahead of a merge.

I think the current mode the tool runs in is better suited to what you are asking for, maybe.

`okta-aws ops-admin sts get-caller-identity` will give you the direct STS identity of the role that can assume the others.

In ~/.aws/config you could have:

[2018-10-23 16:19] AlainODea commented on #233
I just realized the AWS SDK for Java will still warn on each profile section in this case. I’m not sure how to get around that.

I suspect I may need to build the AWS clients differently to avoid them attempting to read the ~/.aws/config in the tool itself (where it doesn’t need to).

[2018-10-24 00:12] patrickf3139 opened #234 "Installer does not work on fish shell"
**Describe the bug**
All I know for sure is that after following the install instructions, I cannot execute `okta-aws`. I've been debugging and I already notice one huge bug, which is that the installer added
[code]
to my `config.fish`. That syntax is valid in `bash`, but in fish it should probably be
[code]
Furthermore, it didn't even create a `/bin` folder in my `$HOME` directory.

**To Reproduc

[2018-10-24 11:51] AlainODea commented on #234
Good catch. This is an easy fix. The line can be removed. It doesn't make sense anymore since PREFIX  defaults to /usr/local.

**withokta** lands in **/usr/local/bin** and **okta-aws** is created as a shell function.

[2018-10-25 00:59] patrickf3139 commented on #234
I don't think it's as simple as that. I cleaned everything up, ran the installer again, removed that line, and tried to execute okta-aws:
[code]

[2018-10-25 17:44] #234 closed

[2018-10-30 08:30] scojoio commented on #232
Working my way back, your second case is likely the result of a valid session already underway. When I started playing with this tool several weeks ago, its behavior (using a function named `aws` to wrap the aws-cli) was a bit heavy-handed for my taste. My organization has been using awsprocesscreds for a while now, but it doesn't support `kubectl` & `aws-iam-authenticator` out of the box or MFA a

[2018-10-30 12:13] AlainODea commented on #232
I appreciate the analysis you've done on this. I suspected it was attempting to reuse sessions. You are correct that it can't do that. It needs to unconditionally invoke STS:AssumeRoleWithSAMLResponse every time it is called similar to OKTA_ENV_MODE. It is up to the caller (AWS CLI or boto3 mostly) to manage expiry.

I wrote **CredentialProcess**. I opened this issue to publicly acknowledge that t

[2018-10-31 14:00] jeugene opened #238 "OracleJDK to OpenJDK fix for license issue"
This codebase uses JavaFX (or another oracleJDK specific jar).
As you know, Oracle is starting JDK license model in 2019.

My understanding is this specific library is only used in a custom configuration to pop web browser client. We don't use this and have no need for this feature.

Anyone know the specific details to use alternate library or process and make this codebase openJDK8 compliant?

Th

[2018-10-31 14:13] AlainODea commented on #238
OpenJFX is bundled with the release. It is GPLv2 with the classpath exception:
https://github.com/javafxports/openjdk-jfx/blob/develop/LICENSE

SOURCE: https://openjfx.io/

My understanding is that there is no problem with bundling OpenJFX in this manner.

I am not a lawyer.

[2018-10-31 14:15] AlainODea commented on #238
I am running this on AdoptOpenJDK 11 locally without issues.

[2018-10-31 20:10] philliphayesiam commented on #25
Is there an update on this? We have centralized all of our AWS accounts under one Okta AWS application and would like to leverage application level MFA.

[2018-10-31 20:43] duhaas2015 commented on #25
We're also are looking for any updates on this particular topic.  We've had to enable okta verify at the org level which is fine,  but would prefer to avoid if possible and just enforce mfa at the aws application.

[2018-11-02 02:00] AlainODea commented on #25
The problem with the current implementation is that session reuse doesn’t support re-authentication or prompt for MFA.

A workaround is **OKTA_ENV_MODE=true** and **OKTA_BROWSER_AUTH=true**. It does primary auth via the browser every time it runs and supports app-level MFA.

Fixing app-level MFA mainly requires browser auth. I think the solution involves detecting the auth error and launching brow

[2018-11-02 02:01] AlainODea commented on #238
I’m going to guess this is okay and close this.

[2018-11-02 02:01] #238 closed

[2018-11-04 22:48] AlainODea opened #239 "Current session is not invalidated when org is changed"
**Describe the bug**
The ~/.okta/.current_session file is used even if the org is switched. This can lead to dangerous surprises.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `okta-aws test sts-get-caller-identity`
2. Change OKTA_ORG in ~/.okta/config.properties
3. Run `okta-aws test sts-get-caller-identity`
4. See STS output for previous OKTA_ORG and no auth prompts

**Expected behav

[2018-11-05 05:05] AlainODea commented on #25
@philliphayesiam @duhaas2015 I have a PR (#240) to fix this now. Please test it and post a code review and I'll cut a release with this included.

[2018-11-05 11:54] AlainODea commented on #239
Initial solution thoughts:
* per-org state folders (~/.okta/{oktaOrg}/)
* fall back to state in ~/.okta/ if ~/.okta/{oktaOrg}/ doesn't exist

[2018-11-05 18:30] #232 closed

[2018-11-07 03:53] testworksau commented on #85
@AlainODea FYI, the documentation hasn't been updated yet.

I had this issue today (this is why I am here!); I had installed the AWS CLI tools via the MSI installer, which creates an `aws.cmd` batch file which itself calls into the Python 3.6 interpreter the MSI installer installs in `C:\Program Files\Amazon\AWSCLI\runtime\`.

I then ran the command to install okta-aws-cli-assume-role using `Insta

[2018-11-07 08:18] testworksau opened #242 "Powershell installation script and the readme file are at odds with each other"
The readme indicates that the default value of `OKTA_BROWSER_AUTH` is false:

https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/master/Readme.MD#configuring-the-application

The powershell script sets this to true:

https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/3b1bdaba73fae8ee88b3795b2e4df31d61acb13a/bin/Install-OktaAwsCli.ps1#L42

I am happy to create a pull request

[2018-11-07 19:11] AlainODea commented on #242
@testworksau good catch. This is a weird one. They're both right.

When running the program itself without **OKTA_BROWSER_AUTH** set in environment or **config.properties**, it defaults to **false**.

The installer sets up a **config.properties** with **OKTA_BROWSER_AUTH** set to **true**. This was a workaround for some issues with MFA options that don't work from the CLI.

I'm not sure how to res

[2018-11-07 20:51] AlainODea commented on #85
@testworksau you're right

Changing this:
https://github.com/oktadeveloper/okta-aws-cli-assume-role/blob/eb6904319026f09f0c2710f5d6c819653cc32cd5/bin/Install-OktaAwsCli.ps1#L85
To this:
[code]

Fixes the issue solidly regardless of whether the command file is aws or aws.cmd.

[2018-11-14 02:20] tlynchpin opened #244 "use HKCU...ProxyEnable in WithOkta() in Install-OktaAwsCli.ps1"
**Describe the bug**
Exception in thread "main" java.net.UnknownHostException: socks=localhost

**To Reproduce**
Steps to reproduce the behavior:
1. windows
1. manually configure a localhost socks proxy in internet options, notice that browser uses proxy (edge/chrome, not ff) (ssh "dynamic" socks is common)
1. disable the proxy, notice that browser does not use proxy
1. notice that okta-aws-cli-as

[2018-11-14 16:55] AlainODea commented on #244
Good catch. I'll put in a fix for this.

[2018-11-19 09:37] froshyfrosh opened #246 "Avoid prompting for the role if the role is given"
Hello,
thanks for the nice work. I'm not sure whether this should be a bug report or a feature request. It would be great if something could be included that helps me here.
Thanks in advance, Patrick

**Describe the bug**
Although the role is given by the OktaAwsCliEnvironment the user is prompted for selecting the role

**To Reproduce**
No profile yet created
Create an instance of OktaAwsCliAssum

[2018-11-19 11:40] AlainODea commented on #246
This seems like a good addition to AwsCredentialsUtil. I’m open to this change if you open a pull request with it.

[2018-11-19 13:31] froshyfrosh commented on #246
Thanks, I have done that (pull request #247).

[2018-11-19 14:39] #25 closed

[2018-11-19 15:03] AlainODea commented on #246
Closed by merging #247

[2018-11-19 15:03] #246 closed

[2018-11-20 12:46] #244 closed

[2018-11-28 23:06] askldjd opened #248 "Unable to run this in a headless env"
**Describe the bug**
Using the latest release 1f1ef54c6f9d8d360906d17cc21697835a34ef8c, I am not able to run `okta-aws-cli.jar` in a headless environment.

**To Reproduce**
1. Create an AWS machine
1. Git clone this repo, and run `mvn package`
1. Go to the `target` folder and verify that the jar file exist
1. Run `java -classpath ~/.okta/okta-aws-cli.jar com.okta.tools.WithOkta`
1. It will fail wi

[2018-12-05 19:02] staticfox opened #249 "Crash encountered if password has expired"
**Describe the bug**
If a password has expired, the CLI crashes with a vague null pointer exception after the username, password, and MFA token have already been accepted.

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure your password has expired
2. Run `awscli sts get-caller-identity`
3. Input your Username, Password, and Token
4. See error

**Expected behavior**
Some form of descript

[2018-12-05 21:39] AlainODea commented on #249
@staticfox thank you for your report. I will investigate this and see if I can get better diagnostics back from the authentication failure message.

[2018-12-05 21:40] AlainODea commented on #233
@craiglink does #236 fix your issue?

[2018-12-08 23:06] AlainODea commented on #248
@askldjd I haven't heard from you in a while. I'm going to close this. The fix is to set OKTA_BROWSER_AUTH environment variable to false on headless machines.

[2018-12-08 23:06] #248 closed

[2018-12-08 23:09] AlainODea commented on #242
The documentation describes the defaults without any settings in ~/.okta/config.properties. The documentation is correct. The installer overrides the default to use OKTA_BROWSER_AUTH true, because it is a better out of the box option since it supports more of Okta's authentication policy features.

I'm sorry you are still confused here. I have no good path forward, so I'm going to close this issue